[class^=icon-]{display: inline-block;background-size: contain;background-repeat: no-repeat;background-position: 0 0;font-style: normal;font-size: 0;line-height: 1;}
.icon-select-right{background-image: url('../images/icon-select-right.svg');width: 18px;height: 18px;vertical-align: middle;}
.icon-select-left{background-image: url('../images/icon-select-left.svg');width: 18px;height: 18px;vertical-align: middle;}

.font-size-16px{font-size: 16px;}

.tui-datepicker-input{height: 35px;}
.tui-datepicker-input.tui-has-focus{border-color: #ddd;}
.tui-datepicker-input > input{font-size: 14px;padding-top: 5px;padding-left: .75rem;padding-right: .75rem;}
.tui-datepicker-input .tui-ico-date + div{position: relative;z-index: 99;}

.tui-grid-table{
    input[type=checkbox],
    input[type=radio]{
        vertical-align: middle;
    }
}

.form-radio{
    margin-bottom: 0;
    input[type=radio]{vertical-align: middle;}
    input[type=radio] + span{vertical-align: middle;margin-left: 5px;}
}

.form-checkbox{
    margin-bottom: 0;
    input[type=checkbox]{vertical-align: middle;}
    input[type=checkbox] + span{vertical-align: middle;margin-left: 5px;}
}

.table-fixed{table-layout: fixed;}

.table-title{font-size: 18px;font-weight: 700;}

.tui-datepicker-input-custom{
    position: relative;width: 130px;
    .tui-ico-date{position: absolute;right: .75rem;top: 50%;transform: translateY(-50%);}
}
.tui-datepicker{z-index: 99;}


.tui-pagination .tui-is-selected,
.tui-pagination strong {
    background: $success;border-color:$success;
}
.tui-pagination .tui-is-selected:hover {
    background-color: $success;
}
.tui-pagination .tui-first-child.tui-is-selected {
    border-left: 1px solid $success;
}
.tui-pagination .tui-last-child.tui-is-selected {
    border-right: 1px solid $success;
}

.modal-title{font-size: 20px;}
.modal-header.bg-success{
    .modal-title{color: #fff;}
    .close{color: #fff;opacity: 1;}
}

.small-box {
    @include border-radius($border-radius);
    background: #a8d1cb;display: block;margin-bottom: 20px;position: relative;display: flex;align-items: center;
    &.statistics-color1{background: $success;}
    &.statistics-color2{background: #43b4e9;}
    &.statistics-color3{background: #de6a96;}
    > .inner {padding: 20px;}
    h3 {color: #fff;font-size: 14px;margin-bottom: 2rem;}
    p {
        color: #fff;
        label{font-size: 24px;margin-bottom: 0;font-weight: 700;margin-right: 10px;}
        strong{font-size: 26px;}
        margin: 5px 0;
    }

    h3,
    p {
        z-index: 5;
    }

    .icon {
        color: rgba($white, .2);z-index: 0;
        > i {
            font-size: 90px;position: absolute;right: 20px;top: 15px;transition: transform .2s linear;
            &.fa,
            &.fas,
            &.far,
            &.fab,
            &.fal,
            &.fad,
            &.ion {
                font-size: 70px;
                top: 50%;
                margin-top: -35px;
            }
        }
    }
    &:hover {
        text-decoration: none;
        .icon {
            > i {
                &,
                &.fa,
                &.fas,
                &.far,
                &.fab,
                &.fal,
                &.fad,
                &.ion {
                transform: scale(1.1);
                }
            }
        }
    }
}