.gym-dashboard-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.gym-dashboard-card {
  width: 32%;
  border-radius: 10px;
  padding: 30px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: 90% center;

  &.bg-dashboard-info {
    background-color: $info;
  }
  &.bg-dashboard-student {
    background-color: #43b4e9;
  }
  &.bg-dashboard-cs {
    width: 49%;
    background-color: #bab7b7;
  }
  &.icon-paid {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='33.933' height='60'%3E%3Cpath data-name='Icon material-attach-money' d='M27.747 30.833c-7.567-1.967-10-4-10-7.167 0-3.633 3.367-6.167 9-6.167 5.933 0 8.133 2.833 8.333 7h7.367c-.233-5.733-3.733-11-10.7-12.7V4.5h-10v7.2C15.28 13.1 10.08 17.3 10.08 23.733c0 7.7 6.367 11.533 15.667 13.767 8.333 2 10 4.933 10 8.033 0 2.3-1.633 5.967-9 5.967-6.867 0-9.567-3.067-9.933-7H9.48c.4 7.3 5.867 11.4 12.267 12.767V64.5h10v-7.167c6.5-1.233 11.667-5 11.667-11.833-.001-9.467-8.101-12.7-15.667-14.667z' transform='translate(-9.48 -4.5)' style='fill:%23fff;opacity:.2'/%3E%3C/svg%3E%0A");
  }
  &.icon-paid-cancel {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='58.71' height='60'%3E%3Cpath data-name='합치기 77' d='M37.043 60v-7.232C30.643 51.4 25.177 47.3 24.778 40h7.332c.368 3.933 3.067 7 9.934 7 7.368 0 9-3.666 9-5.966 0-3.1-1.666-6.035-10-8.033-9.3-2.235-15.668-6.068-15.668-13.768 0-6.434 5.2-10.634 11.667-12.033V0h10v7.3c6.968 1.7 10.468 6.966 10.7 12.7h-7.365c-.2-4.168-2.4-7-8.334-7-5.633 0-9 2.534-9 6.166 0 3.168 2.432 5.2 10 7.167S58.71 31.534 58.71 41c0 6.834-5.166 10.6-11.667 11.833V60zM0 35.3v-7.67h20.446v7.67z' style='fill:%23fff;opacity:.2'/%3E%3C/svg%3E%0A");
  }
  &.icon-paid-total {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60'%3E%3Cpath data-name='Icon awesome-coins' d='M0 47.5v5C0 56.637 10.078 60 22.5 60S45 56.637 45 52.5v-5c-4.84 3.41-13.688 5-22.5 5S4.84 50.906 0 47.5zM37.5 15C49.922 15 60 11.637 60 7.5S49.922 0 37.5 0 15 3.363 15 7.5 25.078 15 37.5 15zM0 35.2v6.05c0 4.137 10.078 7.5 22.5 7.5S45 45.387 45 41.25V35.2c-4.84 3.984-13.7 6.047-22.5 6.047S4.84 39.188 0 35.2zm48.75 1.289C55.465 35.191 60 32.777 60 30v-5c-2.719 1.922-6.715 3.234-11.25 4.043zM22.5 18.75c-12.422 0-22.5 4.2-22.5 9.375S10.078 37.5 22.5 37.5 45 33.3 45 28.125 34.922 18.75 22.5 18.75zm25.7 6.6c7.03-1.268 11.8-3.75 11.8-6.6v-5c-4.16 2.941-11.309 4.523-18.832 4.9 3.457 1.67 6 3.92 7.032 6.698z' style='fill:%23fff;opacity:.2'/%3E%3C/svg%3E%0A");
  }
  &.icon-student {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='71.714' height='50.2'%3E%3Cpath data-name='Icon awesome-user-friends' d='M21.514 27.35A12.55 12.55 0 1 0 8.964 14.8a12.544 12.544 0 0 0 12.55 12.55zm8.606 3.586h-.93a17.327 17.327 0 0 1-15.351 0h-.93A12.912 12.912 0 0 0 0 43.844v3.227a5.38 5.38 0 0 0 5.379 5.379H37.65a5.38 5.38 0 0 0 5.379-5.379v-3.227A12.912 12.912 0 0 0 30.12 30.936zm23.666-3.586a10.757 10.757 0 1 0-10.757-10.757A10.76 10.76 0 0 0 53.786 27.35zm5.379 3.586h-.426a14.13 14.13 0 0 1-9.906 0h-.426a12.446 12.446 0 0 0-6.241 1.726 16.4 16.4 0 0 1 4.449 11.183v4.3c0 .247-.056.482-.067.717h19.788a5.38 5.38 0 0 0 5.379-5.379 12.544 12.544 0 0 0-12.55-12.55z' transform='translate(0 -2.25)' style='fill:%23fff;opacity:.2'/%3E%3C/svg%3E%0A");
  }
  &.icon-service-end {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='47.177' height='47.938'%3E%3Cpath data-name='Icon awesome-power-off' d='M37.847 5.146a23.585 23.585 0 1 1-27.412.01 2.29 2.29 0 0 1 3.329.732l1.5 2.673a2.282 2.282 0 0 1-.628 2.949 15.978 15.978 0 1 0 19.013-.01 2.269 2.269 0 0 1-.618-2.939l1.5-2.673a2.28 2.28 0 0 1 3.31-.742zM27.955 25.11V2.283A2.277 2.277 0 0 0 25.673 0h-3.044a2.277 2.277 0 0 0-2.283 2.283V25.11a2.277 2.277 0 0 0 2.283 2.283h3.044a2.277 2.277 0 0 0 2.282-2.283z' transform='translate(-.563)' style='fill:%2369c3ee'/%3E%3C/svg%3E%0A");
  }
  &.icon-not-approved {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='52.5' height='60'%3E%3Cpath data-name='Icon awesome-calendar-check' d='M51.094 18.75H1.406A1.406 1.406 0 0 1 0 17.344v-4.219A5.625 5.625 0 0 1 5.625 7.5h5.625V1.406A1.406 1.406 0 0 1 12.656 0h4.688a1.406 1.406 0 0 1 1.406 1.406V7.5h15V1.406A1.406 1.406 0 0 1 35.156 0h4.688a1.406 1.406 0 0 1 1.406 1.406V7.5h5.625a5.625 5.625 0 0 1 5.625 5.625v4.219a1.406 1.406 0 0 1-1.406 1.406zM1.406 22.5h49.688a1.406 1.406 0 0 1 1.406 1.406v30.469A5.625 5.625 0 0 1 46.875 60H5.625A5.625 5.625 0 0 1 0 54.375V23.906A1.406 1.406 0 0 1 1.406 22.5zm39.058 11.244-3.3-3.328a1.406 1.406 0 0 0-1.989-.008L22.748 42.734 17.36 37.3a1.406 1.406 0 0 0-1.989-.008l-3.328 3.3a1.406 1.406 0 0 0-.008 1.989l9.68 9.758a1.406 1.406 0 0 0 1.989.008l16.752-16.615a1.406 1.406 0 0 0 .008-1.989z' style='fill:%23fff;opacity:.2'/%3E%3C/svg%3E%0A");
  }
  &.icon-memo {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='75.981' height='49.885'%3E%3Cpath data-name='합치기 93' d='M55.016-20212.5a5.109 5.109 0 0 1-1.7-1.125l-24.993-24.992a1.054 1.054 0 0 1-.224-.342 1 1 0 0 1-.076-.385 1 1 0 0 1 .076-.387 1.121 1.121 0 0 1 .224-.342l19.71-19.705a1.027 1.027 0 0 1 .341-.223 1.008 1.008 0 0 1 .386-.076 1.047 1.047 0 0 1 .386.076 1.06 1.06 0 0 1 .336.223l24.993 24.994a5.008 5.008 0 0 1 1.129 1.7 5.177 5.177 0 0 1 .376 1.932 5.162 5.162 0 0 1-.376 1.932 5.008 5.008 0 0 1-1.129 1.7l-13.892 13.9a5.109 5.109 0 0 1-1.7 1.125 5.105 5.105 0 0 1-1.937.381 5.1 5.1 0 0 1-1.93-.386zm-49.681-4.084a1 1 0 0 1-.707-1.709l19-19a1 1 0 0 1 1.414 0l19 19a1 1 0 0 1-.707 1.709zM0-20220.457v-38.086a1 1 0 0 1 1.714-.7l18.606 19.043a1.007 1.007 0 0 1 0 1.4l-18.606 19.045a.978.978 0 0 1-.707.3 1 1 0 0 1-1.007-1.002zm23.93-20.834-19-19a1 1 0 0 1 .707-1.709H43.64a1 1 0 0 1 .707 1.709l-19 19a.992.992 0 0 1-.707.295.992.992 0 0 1-.71-.295z' transform='translate(0 20262.002)' style='fill:%23fff;opacity:.2'/%3E%3C/svg%3E%0A");
  }
  &.icon-sms {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='55' height='55'%3E%3Cpath data-name='Icon awesome-envelope-open' d='M55 49.844A5.156 5.156 0 0 1 49.844 55H5.156A5.156 5.156 0 0 1 0 49.844V21.562A5.156 5.156 0 0 1 1.975 17.5c2.676-2.1 4.888-3.8 17.639-13.053C21.421 3.134 25.007-.037 27.5 0c2.492-.038 6.08 3.134 7.886 4.451C48.136 13.7 50.35 15.408 53.025 17.5A5.156 5.156 0 0 1 55 21.562zm-7.054-21.12a.859.859 0 0 0-1.218-.2 1742.144 1742.144 0 0 1-11.342 8.28c-1.807 1.318-5.394 4.488-7.886 4.45-2.493.037-6.076-3.131-7.886-4.45a1800.643 1800.643 0 0 1-11.342-8.28.859.859 0 0 0-1.218.2l-.975 1.418a.859.859 0 0 0 .2 1.178c2.459 1.815 5.957 4.371 11.312 8.257 2.178 1.588 6.072 5.136 9.911 5.11 3.838.026 7.73-3.52 9.911-5.11 5.355-3.886 8.853-6.442 11.312-8.257a.859.859 0 0 0 .2-1.178l-.974-1.418z' style='fill:%23fff;opacity:.2'/%3E%3C/svg%3E%0A");
  }

  h5 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .body {
    strong {
      font-size: 22px;
    }
    small {
      font-weight: normal;
    }
  }
}