.mypage-user-summary {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding: 1rem 0;
  border: 6px solid #d8d8d8;

  .centername {
    padding: 0 2rem 0 4rem;
    color: #333;

    strong {
      font-size: 20px;
    }
  }
  .level {
    flex: 1;
    padding: 0 2rem 0 4rem;
    color: #333;

    .username {
      margin-bottom: 0.7rem;
    }
    .levelname {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .badges {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 1rem;

    .badge-item {
      min-width: 140px;
      padding: 0 1rem;
      border-left: 1px solid #e2e1e1;

      &:first-child {
        border: 0;
      }
    }
    .badge-item-icon {
      width: 47px;
      height: 47px;
      background-color: #64b690;
      border-radius: 50%;
      margin: 0 auto;
    }
    .badge-item-name {
      margin-top: 0.3rem;
      text-align: center;
      color: #333;
    }
  }
}

@include media-breakpoint-down(lg) {
  .mypage-user-summary {
    flex-direction: column;

    .badges {
      .badge-item {
        margin-top: 1rem;
      }
    }
  }
}

.mypage-activity-point {
  .point {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 153px;
    height: 153px;
    border: 10px solid transparent;
    border-radius: 50%;
    font-size: 16px;
    line-height: 1.1;
    margin-right: 30px;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      border-left: 12px solid transparent;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      transform: rotate(42deg);
    }

    &.point-1 {
      border-color: #f3ccc9;

      &::before {
        border-left-color: #f3ccc9;
      }
    }
    &.point-2 {
      border-color: #f8edcb;

      &::before {
        border-left-color: #f8edcb;
      }
    }
    .point-text {
      margin-top: 5px;

      strong {
        font-size: 48px;
      }
    }
  }
  .bar {
    display: flex;
    align-items: flex-end;
    width: 164px;
    height: 184px;

    .bar-active {
      width: 100%;
    }
    &.bar-1 {
      .bar-active {
        background-color: #f58a82;
      }
    }
    &.bar-2 {
      .bar-active {
        background-color: #f1d885;
      }
    }
  }
  .ranking {
    height: 50px;
    line-height: 50px;
    margin-top: 2px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    background-color: #32b27f;
    border-radius: 10px;

    span {
      margin: 0 10px;
    }
  }
}
@include media-breakpoint-down(lg) {
  .mypage-activity-point {
    margin-bottom: 2rem;
  }
}

.mypage-chart-legends {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 30px;
  background-color: #f1f5f6;

  .item {
    width: 14%;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;

    i {
      width: 8px;
      height: 8px;
      margin-right: 8px;
    }
  }

  .chart-color-1 {
    background-color: #e56785;
  }
  .chart-color-2 {
    background-color: #e899a2;
  }
  .chart-color-3 {
    background-color: #f9b730;
  }
  .chart-color-4 {
    background-color: #e9de4c;
  }
  .chart-color-5 {
    background-color: #9ecfb1;
  }
  .chart-color-6 {
    background-color: #9fd2d6;
  }
  .chart-color-7 {
    background-color: #68b1cf;
  }
  .chart-color-8 {
    background-color: #65be88;
  }
  .chart-color-9 {
    background-color: #1d5693;
  }
  .chart-color-10 {
    background-color: #50438d;
  }
  .chart-color-11 {
    background-color: #b7a9c9;
  }
  .chart-color-12 {
    background-color: #00a9ff;
  }
  .chart-color-13 {
    background-color: #ffb83f;
  }
  .chart-color-14 {
    background-color: #ff5a46;
  }
  .chart-color-15 {
    background-color: #01bd9f;
  }
  .chart-color-16 {
    background-color: #785fff;
  }
}

.mypage-text-link-sm {
  font-size: 14px;
  color: #979797;

  &:hover {
    text-decoration: underline;
  }
}

@include media-breakpoint-down(lg) {
  .mypage-chart-legends {
    padding: 15px;
  
    .item {
      width: 45%;
    }
  }  
}