.sms-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.sms-address {
  width: 450px;
  margin-right: 20px;

  .sms-address-search {
    height: 50px;
  }
  .sms-address-list {
    height: 412px;
    overflow: auto;
    border: 1px solid #bab7b7;
  }
}

.sms-selected {
  margin-top: 50px;
  flex: 1;
  border: 1px solid #bab7b7;

  .sms-selected-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 28px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #bab7b7;
  }
  .sms-selected-list {
    height: 360px;
    padding: 14px 28px;
    overflow: auto;
  }
}

.sms-content {
  width: 290px;
  height: 462px;
  margin-left: 20px;
  padding: 20px;
  background: url('../images/mypage/sms-content.png') no-repeat;

  .sms-content-header {
    height: 60px;
    padding: 10px 10px 0 0;
    text-align: right;
    font-size: 14px;
    color: #333;
  }
  .sms-content-body {
    width: 100%;
    height: 300px;
    margin-bottom: 5px;
    border: 0;
    background: transparent;
    outline: 0;

    &:focus {
      background-color: #f1f1f1;
    }
  }
  .sms-content-footer {
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #bab7b7;
  }
}
