#header.header-rd {
  .logo {
    top: 10px;

    a {
      width: 170px;
      height: 72px;
      background-image: url('../images/rd/logo.png');
    }
  }
  .gnb {
    .dep1 > li:nth-child(2) .dep2 {
      left: -180px;
    }
    .dep1 > li:nth-child(3) .dep2 {
      left: -80px;
    }
    .dep1 > li:nth-child(4) .dep2 {
      left: -130px;
    }
  }
}

html.has-dep2 #header.header-rd::after, html.open-gnb-dep2 #header.header-rd::after { background: #614d40; }