[class^=icon-]{display: inline-block;background-size: contain;background-repeat: no-repeat;background-position: 0 0;font-style: normal;font-size: 0;line-height: 1;}
.icon-close-black{background-image: url('../images/icon-close-black.png');width: 21px;height: 21px;}
.icon-close-white{background-image: url('../images/x-white.svg');width: 35px;height: 34px;}
.icon-delete{background-image: url('../images/icon-delete.svg');width: 16px;height: 16px;}
.icon-down-white{background-image: url('../images/chevron-down-solid.svg');width: 15px;height: 15px;}
.icon-new{font-size: 15px;width: 25px;height: 25px;padding-right: 1px;background: #fe561c;color: #fff;text-align: center;line-height: 25px;font-weight: 700;}
.icon-refrash{background-image: url('../images/icon-refrash.png');width: 22px;height: 22px;}
.icon-search{background-image: url('../images/icon-search-black.svg');width: 20px;height: 20px;vertical-align: middle;}
.icon-bell{background-image: url('../images/icon-bell.png');width: 17px;height: 16px;vertical-align: middle;}
.icon-file{background-image: url('../images/icon-file.png');width: 18px;height: 20px;vertical-align: middle;}
.icon-play{background-image: url('../images/icon-play.svg');width: 18px;height: 16px;vertical-align: middle;background-position: 50% 50%;}
.icon-pause{background-image: url('../images/icon-pause.svg');width: 18px;height: 16px;vertical-align: middle;background-position: 50% 50%;}
.icon-blog{background-image: url('../images/icon-blog.svg');width: 37px;height: 37px;vertical-align: top;}
.icon-facebook{background-image: url('../images/icon-facebook.svg');width: 37px;height: 37px;vertical-align: top;}
.icon-calendar{background-image: url('../images/icon-calendar.png');width: 21px;height: 21px;vertical-align: top;}
.icon-camera{background-image: url('../images/icon-camera.svg');width: 26.3px;height: 20.9px;vertical-align: top;}
.icon-arrow-right-sm{background-image: url('../images/icon-arrow-right-sm.svg');width: 3px;height: 5px;}
.icon-select-right{background-image: url('../images/icon-select-right.svg');width: 18px;height: 18px;vertical-align: middle;}
.icon-select-left{background-image: url('../images/icon-select-left.svg');width: 18px;height: 18px;vertical-align: middle;}
@include media-breakpoint-down(md) {
    .icon-new{width: 22px;height: 22px;font-size: 13px;line-height: 23px;}
    .icon-refrash{width: 18px;height: 18px;}
    .icon-file{width: 14.5px;height: 15px;}
    .icon-play{width: 18px;height: 12px;}
    .icon-pause{width: 18px;height: 12px;}
}

.w-80px{width: 80px;}

.border-radius-0{border-radius: 0 !important;}

i.new{display: inline-block;background: #cb1c1c;width: 13px;height: 13px;border-radius: 2px;color: #fff;text-align: center;line-height: 13px;font-weight: 700;font-size: 10px;font-family: 'Play';}

[data-event=datepicker]{
    background: url('../images/icon-calendar.png') no-repeat right 1rem top 50%;padding-right: 52px;max-width:170px
}
@include media-breakpoint-down(md) {
    [data-event=datepicker]{
        background-size: 13px auto;background-position: right 10px top 50%;padding-right: 30px;
    }
}

.btn-round{border-radius: 50rem;}

.title{font-size: 28px;font-weight: 700;color: #333;}
@include media-breakpoint-down(md) {
    .title{font-size: 20px;}
}

.title-util{font-size: 32px;font-weight: 700;color: #333;margin-bottom: 4rem;}
@include media-breakpoint-down(md) {
    .title-util{font-size: 20px;margin-bottom: 2rem;}
}

@include media-breakpoint-down(md) {
    .btn-xl{
        padding: .8rem 1.5rem;
    }
}

.subtitle{
    position: relative;padding-left: 17px;font-size: 24px;font-weight: 700;color: #333;
    &::before{content: '';width: 5px;height: 20px;background: #333;position: absolute;left: 0;top: 4px;}
}

.border-bottom-dark{
    border-bottom: 1px solid #333;
}

textarea.form-control{padding-top: .75rem;padding-bottom: .75rem;}

.form-control.text-center{padding-left: 3px;padding-right: 3px;}

.custom-select{background-image: url('../images/select.svg');}

.form-text{font-size: 12px;}

@include media-breakpoint-down(md) {
    .col.col-md-auto{
        .btn-lg{padding-left: 3px;padding-right: 3px;font-size: 15px;}
    }
}

.nav-tabs{
    margin-bottom: 50px;
    .nav-link{
        flex: 1 1 auto;text-align: center;background: #ddd;border-radius: 0;padding: 10px;transition: background .15s;
        &:hover{
            background: #e7e7e7;
        }
        &.active{
            &:hover{background: #fff;}
        }
    }
}
@include media-breakpoint-down(md) {
    .nav-tabs{margin-bottom: 2rem;}
}

.table-nowrap{
    th,
    td{white-space: nowrap;}
}
.table-fixed{table-layout: fixed;}
.table{
    border-bottom: 1px solid $border-color;border-top: 1px solid #333;
    tr{transition: background-color .15s;}
}
@include media-breakpoint-down(md) {
    /* .table{
        colgroup{display: none;}
    } */
}

.board-detail{
    border-top: 1px solid $dark;border-bottom: 1px solid $dark;
    .board-header{
        border-bottom: 1px solid $border-color;padding: 2rem 1rem;
        .subject{font-size: 22px;font-weight: 700;letter-spacing: -0.025em;color: #333;}
        .date{
            color: #999;display: flex;align-items: center;margin-top: 10px;
            span{position: relative;}
            span + span::before{content: '';display: inline-block;vertical-align: middle;width: 2px;height: 15px;background: #cfcfcf;margin: 0 10px;transform: translateY(-1px);}
        }
    }
    .board-body{
        padding: 2rem 1rem;min-height: 300px;
    }
    .board-file{
        background: #f9f9f9;padding: 2rem 1rem;display: flex;
        p{font-weight: 700;color: #333;display: inline-block;vertical-align: middle;margin-right: 42px;flex: 0 0 auto;}
        a{vertical-align: middle;margin-right: 20px;flex-basis: 0;flex-grow: 1;}
    }
}
@include media-breakpoint-down(md) {
    .board-detail{
        margin-bottom: 30px;
        .board-header{
            padding: 25px 0;
            .subject{font-size: 16px;margin-bottom: 5px;}
            .date{
                span + span::before{width: 1px;}
            }
        }
        .board-body{
            padding: 25px 0;min-height: 150px;
        }
        .board-file{
            padding: 25px 20px;
            p{margin-right: 25px;}
            a{margin-right: 15px;}
        }
    }
}

.my-tab{
    a.nav-link{
        background: #d3d79b;border: 1px solid #a7af38;border-radius: 0;font-size: 24px;color: #707070;padding: 1rem;font-weight: 700;
        &.active{background: #a7af38;}
    }
}
@include media-breakpoint-down(md) {
    .my-tab{
        a.nav-link{
            font-size: 14px;padding: .5rem;
        }
    }
}

.profile{
    display: inline-block;width: 50px;height: 50px;border-radius: 50%;border: 1px solid #e6ecf0;overflow: hidden;
    img{width: 100%;height: 100%;object-fit: cover;}
}

.list-count{font-weight: 700;color: #333;font-size: 16px;margin-bottom: 10px;}
@include media-breakpoint-down(md) {
    .list-count{font-size: 13px;}
}

.modal-title{font-size: 20px;}
.modal-header.bg-success{
    .modal-title{color: #fff;}
    .close{color: #fff;opacity: 1;}
}



.tui-datepicker-input-custom{
    position: relative;width: 130px;
    .tui-ico-date{position: absolute;right: .75rem;top: 50%;transform: translateY(-50%);}
}
.tui-datepicker{z-index: 2;}

.form-length{text-align: right;color: #707070;margin-top: 2px;}

.custom-select[multiple]{
    height: 300px;
    option{padding: .5rem;cursor: pointer;}
    option:hover{background-color: #f7f8f9;}
}

