.paint{
    position: relative;z-index: 0;
    &::before{content: '';display: block;width: 100%;height: 14px;position: absolute;left: 0;bottom: -4px;background-color: rgba(94, 107, 220, 0.25);z-index: -1;}
}

.history{
    .history-heading{width: 325px;}
    dl{display: flex;line-height: 1.3;}
    dt{
        flex: 0 0 auto;font-family: 'Play';font-size: 38px;width: 160px;padding-left: 25px;transform: translateY(-10px);
        span{
            position: relative;z-index: 0;
            &::before{content: '';display: block;width: 0;height: 16px;position: absolute;left: 0;top: 50%;background-color: rgba(174, 175, 25, .25);z-index: -1;transition: width .25s ease-in-out;}
        }
    }
    dd{
        flex: 1 1 100%;position: relative;
        &::before{content: '';width: 1px;height: 100%;background-color: #333;position: absolute;left: -160px;top: 0;}
    }
    li{
        display: flex;
        em{width: 60px;flex: 0 0 60px;font-family: 'Play';font-size: 20px;font-weight: 400;transform: translateY(-3px);}
        p{
            position: relative;z-index: 0;
            &::before{content: '';display: block;width: 0;height: 14px;position: absolute;left: 0;top: 40%;background-color: rgba(174, 175, 25, .25);z-index: -1;transition: width .25s ease-in-out;}
        }
    }
    li:hover{
        em{font-weight: 700;}
        p{
            &::before{width: 100%;}
        }
    }
    li + li{margin-top: 20px;}
    dl + dl{margin-top: 90px;}
    dl:hover{
        dt{
            span{
                &::before{width: 100%;}
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .history{
        .history-heading{
            width: auto;margin-bottom: 2rem;
            img{width: 100px;}
        }
        dl + dl{margin-top: 3rem;}
        dt{width: 75px;padding-left: 0;font-size: 24px;transform: translateY(-7px);}
        dd::before{display: none;}
        li{
            em{width: 35px;flex: 0 0 35px;font-size: 17px;transform: translateY(-2px);}
            p{line-height: 1.4;word-break: keep-all;}
        }
    }
}

.step{
    ol{display: flex;}
    li{font-size: 14px;color: $primary;}
    li + li::before{content: '>';margin: 0 .5rem;color: $primary;}
    li.active ~ *{
        color: #333;
        &::before{color: #888;}
    }
}
@include media-breakpoint-down(md) {
    .step{
        li{font-size: 12px;}
        li + li::before{margin: 0 .25rem;}
    }
}

.agree{padding-top: 2.5rem;border-bottom: 1px solid #333;padding-bottom: 2.5rem;}
.agree-item{
    h3{font-weight: 700;font-size: 1rem;margin-bottom: 5px;}
    textarea{font-size: 13px;}
}
@include media-breakpoint-down(md) {
    .agree{padding: 1.5rem 0 .5rem;}
    .agree-item{margin-bottom: 1rem;}
}

.login{
    padding: 50px 65px 95px;width: 590px;margin: 0 auto;border-radius: 20px;border: 1px solid #aaa;
    h2{text-align: center;font-weight: 900;font-size: 30px;margin-bottom: 55px;}
    .input-area{
        .form-control + .form-control{margin-top: -1px;}
        .form-control:first-of-type{border-radius: .3rem .3rem 0 0;}
        .form-control:last-of-type{border-radius: 0 0 .3rem .3rem;}
    }
}
@include media-breakpoint-down(md) {
    .login{
        width: auto;padding: 0 1rem;border: 0;
        h2{font-size: 24px;margin-bottom: 2rem;}
    }
}

.forgot{
    width: 590px;margin: 0 auto;
    .inner{padding: 55px 44px 65px;border-bottom: 1px solid #333;border-top: 1px solid #333;}
    h2{font-weight: 900;font-size: 30px;text-align: center;padding-bottom: 30px;}
}
@include media-breakpoint-down(md) {
    .forgot{
        width: auto;
        .inner{padding: 0;border: 0;}
        h2{font-size: 24px;margin-bottom: 2rem;padding-bottom: 0;}
        .btn-darkgray{font-size: 13px;padding-left: 5px;padding-right: 5px;letter-spacing: -0.06em;}
    }
}

.accordion-list{
    margin-bottom: 1rem;
    ul{border-top: 1px solid #333;}
    li{border-bottom: 1px solid $border-color;transition: background-color .2s .1s;}
    .q{
        > a{
            display: block;position: relative;padding: 1.5rem 4rem 1.5rem 1rem;transition: background-color .15s;text-decoration: none;
            &::before{content: '';background: url('../images/icon-arrow-down.svg') no-repeat 50% 50%;display: block;width: 24px;height: 24px;position: absolute;right: 1rem;top: 50%;margin-top: -12px;transition: transform .2s .1s;}
            &:hover{background-color: #f5f5f5;}
        }
    }
    .a{
        display: none;
        .text{padding: 1.5rem 1rem;}
    }
    .active{
        background-color: #f5f5f5;
        .q{
            > a{font-weight: 700;}
            > a::before{transform: rotate(180deg);}
        }
        .a{
            border-top: 1px dotted $border-color;
        }
    }
}
@include media-breakpoint-down(md) {
    .accordion-list{
        .q{
            > a{
                padding: 1rem 2rem 1rem .75rem; word-break: keep-all;
                &::before{right: .25rem;}
            }
        }
        .a{
            .text{padding: 1rem .75rem;}
        }
    }
}

.form{
    border-top: 1px solid #333;border-bottom: 1px solid #333;padding: 2.5rem 0;
    .inner{width: 550px;}
}
@include media-breakpoint-down(md) {
    .form{
        .inner{width: auto;}
    }
}

.welcome{
    border-top: 1px solid #333;border-bottom: 1px solid #333;min-height: 600px;
    strong{text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);font-size: 37px;font-weight: 700;letter-spacing: -0.93px;margin-top: 110px;}
    p{line-height: 1.55;font-size: 22px;letter-spacing: -0.55px;margin-top: 30px;word-break: keep-all;}
}
@include media-breakpoint-down(md) {
    .welcome{
        min-height: auto;padding: 3.5rem 0;
        .text img{width: 300px;}
        strong{font-size: 20px;margin-top: 2rem;}
        p{font-size: 14px;margin-top: 2rem;text-align: center;}
    }
}

.mypage{
    position: relative;margin-top: -45px;margin-bottom: -150px;min-height: 970px;padding-left: 170px;border-right: 1px solid #eceaea;
}
@include media-breakpoint-down(md) {
    .mypage{margin: 0;min-height: 0;padding: 1rem 0 0 0;border-right: 0;}
}

.side{
    background-color: #f1f1f1;width: 170px;height: 100%;position: absolute;left: 0;top: 0;
    .user{
        text-align: center;background-color: #abcbcb;padding: 50px 0 0;
        .profile-wrap{position: relative;width: 144px;height: 144px;margin: 0 auto;}
        .profile{
            display: flex;align-items: center;justify-content: center;width: 100%;height: 100%;border-radius: 50%;overflow: hidden;background: url('../images/profile.png') no-repeat 50% 50%;border: 8px solid #e8e8e8;
            img{width: 144px;height: 144px;object-fit: contain;}
        }
        .btn-upload{
            display: block;background: #d1d1d1;border-radius: 50%;width: 42px;height: 42px;position: absolute;right: 0;bottom: 0;
            i{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);z-index: 1;}
        }
        .name{font-size: 18px;color: #fff;font-weight: 700;margin-top: 1.5rem;}
    }
    .info{
        padding: 1rem 1.25rem;background-color: #abcbcb;color: #fff;
        dt{clear: left;float: left;font-weight: 400;width: 27px;text-align: center;margin-right: .5rem;padding: .75rem 0;}
        dd{font-weight: 700;font-size: 14px;border-bottom: 1px solid #e8e8e8;padding: .75rem 0;margin-bottom: 0;}
        dd:last-of-type{border-bottom: 0;}
    }
    .btns{
        a{
            display: block;border-bottom: 1px solid #eceaea;padding: 1rem 1.25rem;color: #707070;background: url('../images/icon-arrow-right-sm.svg') no-repeat right 1.25rem top 50%;text-decoration: none;transition: all .2s;font-weight: 700;
            &:hover{
                background-color: #dfdfdf;
            }
        }
        a.active{background-color: $success;color: #fff;background-image: url('../images/icon-arrow-right-sm-white.svg');}
    }
}
@include media-breakpoint-down(md) {
    .side{
        width: auto;position: static;
        .user{
            padding: 1rem;
            .profile-wrap{width: 100px;height: 100px;}
            .name{margin-top: .5rem;}
        }
        .info{float: left;width: 50%;padding: 0 1rem;}
        .btns{
            float: left;width: 50%;
            a{padding-top: .81rem;padding-bottom: .81rem;}
        }
        &::after{content: '';clear: both;display: block;}
    }
}

.right{
    padding: 4rem 4rem;
}
@include media-breakpoint-down(lg) {
    .right{
        padding: 3rem;
    }
}
@include media-breakpoint-down(md) {
    .right{padding: 2rem 0;}
}

.levelup{
    text-align: center;margin-bottom: 4rem;padding-top: 2rem;
    strong{color: $success;font-size: 18px;font-family: ArialRounded;position: absolute;left: 50%;top: 2rem;transform: translateX(-50%);
        -webkit-animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    .bar{display: inline-block;position: relative;padding-top: 113px;}
    [class*=marker]{position: absolute;bottom: 85px;
        -webkit-animation: bounce 0.7s ease-in-out both .3s;
        animation: bounce 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both .3s;
    }
    .marker1{display: block;background: url('../images/img-test-icon1.png') no-repeat 50% 50%; width: 58px;height: 79px;left: 60px;}
    .marker2{display: block;background: url('../images/img-test-icon2.png') no-repeat 50% 50%; width: 73px;height: 103px;left: 184px;bottom: 75px;animation-delay: .4s}
    .marker3{display: block;background: url('../images/img-test-icon3.png') no-repeat 50% 50%; width: 58px;height: 79px;left: 380px;animation-delay: .8s}
    .marker4{display: block;background: url('../images/img-test-icon4.png') no-repeat 50% 50%; width: 58px;height: 79px;left: 533px;animation-delay: .6s}
}
@include media-breakpoint-down(md) {
    .levelup{
        .marker1{left: 0;}
        .marker2{left: 20%;}
        .marker3{left: auto;right: 20%;}
        .marker4{left: auto;right: 0;}
    }
}

.mypage-test{
    p{
        font-size: 24px;line-height: 2.08;text-align: center;letter-spacing: -0.6px;word-break: keep-all;
        strong{display: block;color: $secondary;}
    }
}
@include media-breakpoint-down(md) {
    .mypage-test{
        p{font-size: 17px;line-height: 1.8;}
    }
}

label.number{
    cursor: pointer;display: inline-flex;font-family: arial;margin-bottom: 0;vertical-align: middle;
    input{position: absolute;opacity: 0;visibility: hidden;height: 0;width: 0;}
    i{display: inline-block;vertical-align: top;width: 18px;height: 18px;line-height: 17px;text-align: center;border-radius: 50%;border: 1px solid #ccc;color: #555;font-size: 12px;font-family: arial;transform: translateY(4px);flex: 0 0 18px;}
    span{margin-left: .5rem;}
    input:checked + i{border-color: $dark;background-color: $dark;color: #fff;font-weight: 500;}
}

.choice{
    margin-top: 10px;
    > div{margin: 5px 0;}
    &.inline{
        > div{
            display: inline-flex;align-items: center;margin: 0 25px 0 0;
        }
    }
    .text-right{margin-top: -5px}
}

.type-in-order{
    text-align: center;
    .item{text-align: center;padding: 3px 5px;background: #f1f1f1;border-radius: 30px;}
}

.type-box{
    border: 1px solid #999;padding: 1rem;border-radius: 2px;font-size: 16px;
}

.type-table{
    display: flex;align-items: center;width: 100%;
    .item{flex-basis: 0;flex-grow: 1;max-width: 100%;}
    .arr{flex: 0 0 auto;width: auto;max-width: 100%;text-align: center;padding: 0 .5rem;}
    table{width: 100%;
        th{background-color: $light;}
        th,
        td{font-weight: 400;border: 1px solid #ddd;padding: 3px 8px;height: 36px;}
    }
}

.questions{
    padding: 2rem;height: calc(100vh - 78px - 150px);overflow-x: hidden;line-height: 1.7;
    > li{
        display: flex;margin-bottom: 1.5rem;font-size: 17px;flex-wrap: wrap;
        .num{flex: 0 0 30px;font-weight: 700;}
        .text{flex: 0 0 calc(100% - 30px);}
        .question{line-height: 1.6;white-space: pre-wrap;margin-bottom:10px;}
        .answer{
            background-color: $success;border-radius: .5rem;color: #fff;font-size: 18px;font-weight: 700;padding: .4rem;margin-left: 30px;width: 115px;text-align: center;margin-top: .5rem;
            strong{margin-left: 10px;}
        }
        .comment{
            padding-left: 18px;
            p{display: inline-block;background-color: rgba(233, 235, 205, .5);padding: 0 8px 1px;font-weight: 700;}
        }
    }
    &.explanation{
        height: auto;overflow:inherit;border: 1px solid #d4d4d4;
        .choice.inline > div{display: block;}
    }
}

.text-read{
    padding: 2rem;height: calc(100vh - 78px - 150px);overflow-x: hidden;
    .tit{font-size: 24px;font-weight: 700;margin-bottom: 3rem;}
    .text{font-size: 17px;line-height: 2.5;}
}

.test-header{
    color: #fff;padding: 1.25rem 2rem;background: $success;position: relative;
    h1{font-size: 32px;font-weight: 900;margin-bottom: 0;letter-spacing: -1px; }
    span{font-size: 22px;font-weight: 700;}
    .btn{position: absolute;right: 2rem;top: 50%;transform: translateY(-50%);}
    .timer{
        position: absolute;right: 2rem;top: 50%;transform: translateY(-50%);display: flex;align-items: center;font-size: 20px;
        > div{display: flex;align-items: center;margin:0 0 0 20px;color: #fbf6cc;}
        em{width: 40px;border: 0;padding: 2px 0;font-size: 24px;color: #fff7b2;background: #306463;border-radius: 2px;margin: 0 8px;text-align: center;line-height: 1;font-weight: 700;}
        > div:first-of-type{
            color: #dcfefd;
            em{color: #adfffd;}
        }
        i{font-size: 30px;}
    }
}
.test-body{
   border: 10px solid #a8d1cb;border-top: 0;border-bottom: 0;
}
.test-footer{
    border: 10px solid #a8d1cb;border-top: 1px solid #a8d1cb;height: 150px;display: flex;align-items: center;justify-content: center;position: fixed;left: 0;bottom: 0;width: 100%;
}
@include media-breakpoint-down(md) {
    .test-header{
        h1{font-size: 28px;}
    }
}

@media print{
    .test-result{height: auto !important;}
    .test-footer{display: none;}
}

.test-start{
    text-align: center;min-height: calc(100vh - 78px - 4rem);display: flex;align-items: center;justify-content: center;
    .text{font-size: 24px;line-height: 2;font-weight: 700;letter-spacing: -0.6px;margin-bottom: 60px;}
    .marker{
        margin-bottom: .5rem;
        span{
            display: block;margin-bottom: 5px;
            -webkit-animation: bounce-vertical .6s linear infinite alternate;
	        animation: bounce-vertical .6s linear infinite alternate;
        }
        strong{display: block;color: $success;font-size: 18px;font-family: arial;}
    }
    .text-small{font-size: 14px;font-weight: 700;color: $secondary;margin-top: 40px;}
}

.test-result{
    padding: 2rem;height: calc(100vh - 78px - 150px);overflow-x: hidden;
}
.chart-wrap{
    display: flex;align-items: center;justify-content: center;
    .chart{position: relative;width: 280px;height: 280px;flex: 0 0 280px;}
    .legend{
        position: absolute;left: 0;top: 0;bottom: 0;right: 0;display: flex;align-items: center;text-align: center;justify-content: center;
        p{font-size: 24px;font-weight: 700;letter-spacing: -1px;margin-top: -5px;}
        strong{
            display: block;font-size: 46px;font-weight: 700;letter-spacing: -1px;
            i{font-size: 20px;margin-left: 2px;}
        }
    }
    &.has-item-4{
        .chart{width: 240px;height: 240px;flex: 0 0 240px;}
        .legend{
            p{font-size: 20px;}
            strong{
                font-size: 34px;
                i{font-size: 16px;}
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .chart-wrap{
        flex-wrap: wrap;
    }
}

.chart-radar{display: flex;justify-content: center;}

.chart-group{display: flex;justify-content: space-between;flex-wrap: wrap;
    .item{flex: 0 0 auto;width: auto;max-width: 100%;text-align: center;}
    .item-pie{flex: 0 0 100%;}
}

.chart-pie{
    width: 350px;margin: 0 auto;position: relative;margin-bottom: -6rem;z-index: 1;
    .legend{
        position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);display: flex;align-items: center;text-align: center;justify-content: center;margin: 12px ​0 0 -7px;
        strong{font-size: 50px;font-weight: 700;margin-top: -10px;}
        i{font-size: 20px;}
    }
}

.chart-bar{width: 360px;height: 360px;}

.chart-bar-title{
    font-size: 16px;font-weight: 700;padding: 8px 25px 8px 20px;display: inline-block;word-break: keep-all;margin: 0 auto;
    &.bg1{background: #e9ebcd;border-left: 5px solid $primary;border-radius: 5px;}
    &.bg2{background: #d3e8e5;border-left: 5px solid $success;border-radius: 5px;}
}
.chart-bar-subtitle{
    font-size: 16px;font-weight: 400;padding: 6px 25px 6px 20px;display: inline-block;white-space: nowrap;
    &.bg1{background: #e9ebcd;border-left: 5px solid $primary;border-radius: 5px;}
    &.bg2{background: #d3e8e5;border-left: 5px solid $success;border-radius: 5px;}
}
.table-result{
    font-size: 16px;
    .chart-bar-title{display: flex;align-items: center;justify-content: center;text-align: center;font-size: 20px;height: 142px;padding: 6px 10px;}
    .chart-bar-subtitle{display: flex;align-items: center;justify-content: center;text-align: center;border: 0;}
    tbody td{padding: .5rem .75rem;}
}
@include media-breakpoint-down(md) {
    .table-result{
        font-size: 13px;
        thead th{white-space: nowrap;}
        tbody td{padding: .25rem;}
        .chart-bar-title{font-size: 14px;padding: .5rem;}
        .chart-bar-subtitle{font-size: 13px;padding: .25rem;}
    }
}

.reference-title{font-size: 16px;font-weight: 700;margin-bottom: 1rem;}
.test-reference{
    .table{height: 390px;}
}

.table{
    font-size: 16px;
    .bg1{background: #e9ebcd;}
    .bg2{background: #d7ece9;}
    .bg3{background: #f1f1f1;}
}
@include media-breakpoint-down(sm) {
    .table{font-size: 13px;}
}

.test-desc{font-size: 18px;margin-bottom: 1rem;text-align: center;
    b{font-weight: 900;}
}
@include media-breakpoint-down(sm) {
    .test-desc{
        font-size: 14px;
    }
}

.text-sky{color: #a0cee4 !important;}
.text-peach{color: #fbd185 !important;}
.chart-group{
    .chart-area{height: 360px;}
    .chart-name{font-size: 22px;font-weight: 900;text-align: center;margin-top: .5rem;}
    & + .chart-group{margin-top: 2rem;}
}

.mypage{
    h2{font-size: 20px;font-weight: 700;margin-bottom: 25px;}
    .top-area{
        border-bottom: 1px solid #a8d1cb;padding-bottom: .5rem;margin-bottom: 40px;
        .level{font-size: 1rem;color: #333;font-weight: 700;}
    }
}

.progress{
    border-radius: 10px;height: 10px;position: relative;overflow: visible;margin-bottom: 50px;background: #d8dbb2;
    .progress-bar{border-radius: 10px;}
    .point{
        display: block;border-radius: 50%;width: 18px;height: 18px;position: absolute;top: -4px;border-radius: 50%;margin-left: -9px;
        i{display: block;width: 9px;height: 9px;background-color: #fff;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);border-radius: 50%;}
        &:nth-of-type(1){left: 0;}
        &:nth-of-type(2){left: 14.2857%;}
        &:nth-of-type(3){left: 28.5714%;}
        &:nth-of-type(4){left: 42.8571%;}
        &:nth-of-type(5){left: 57.1428%;}
        &:nth-of-type(6){left: 71.4258%;}
        &:nth-of-type(7){left: 85.7142%;}
        &:nth-of-type(8){left: 100%;}
    }
    .point:not(.active){
        &:nth-of-type(1){
            i{opacity: 0;}
        }
        &:last-of-type{
            i{opacity: 0;}
        }
    }
    .point.active{
        background-color: $primary;
        &::after{content: '';display: block;width: 30px;height: 14.5px;background: url('../images/icon-leaf.svg') no-repeat 50% 50%;background-size: contain;position: absolute;left: 50%;top: -17px;transform: translateX(-50%);}

    }
    &.level10{
        margin-bottom: 80px;
        .point{
            &:nth-of-type(1){
                left: 10%;
                i{opacity: 1;}
            }
            &:nth-of-type(2){left: 20%;}
            &:nth-of-type(3){left: 30%;}
            &:nth-of-type(4){left: 40%;}
            &:nth-of-type(5){left: 50%;}
            &:nth-of-type(6){left: 60%;}
            &:nth-of-type(7){left: 70%;}
            &:nth-of-type(8){left: 80%;}
            &:nth-of-type(9){left: 90%;}
            &:nth-of-type(10){left: 100%;}
            &::before{
                content: attr(data-level);background: #e9ebcd;padding: 10px 0 0;border-radius: 5px;font-size: 18px;font-weight: 700;position: absolute;left: 50%;top: 30px;margin-left: -44px;width: 88px;height: 50px;text-align: center;display: none;
            }
        }
        .point.active{
            &::before{display: block;}
        }
    }
}
.progress-list{
    .row-20{
        margin: -10px;
        [class^=col]{padding: 10px;}
    }
    .item{
        overflow: hidden;
        &.disabled{
            .item-header{opacity: .5;}
            .item-body{border-color: #dbdbdb;}
        }
    }
    .item-header{
        background-color: $success;padding: .5rem 0;text-align: center;border-radius: 5px 5px 0 0;position: relative;
        &::after{content: '';width: 0;height: 0;border-style: solid;border-width: 8px 8px 0 8px;border-color: $success transparent transparent transparent;position: absolute;left: 50%;bottom: -7px;transform: translateX(-50%);}
    }
    .item-body{border: 1px solid $success;border-top: 0;border-radius: 0 0 5px 5px;padding-top: 10px;background-color: #f9f8f8;}
    .group{padding: 20px 15px;}
    .group + .group{
        border-top: 1px dashed #dbdbdb;
    }
    .num{font-size: 16px;font-family: 'Play';color: #fff;font-weight: 700;}
    .text{font-size: 14px;text-align: center;color: #707070;margin-bottom: 20px;}
    .btn{font-size: 13px;}
}

.popup-head{
    &.bg-dark{
        padding: 1rem;
        .popup-title{color: #fff;font-size: 22px;font-weight: 700;margin: 0;}
    }
}

.popup-top-search{
    position: relative;border-bottom: 1px solid #333;display: flex;align-items: center;padding-right: 1rem;
    .form-control{border-radius: 0;border: 0;flex: 1;}
    i{vertical-align: top;}
    button{line-height: 1;margin-left: .5rem;}
    .icon-search{width: 22px;height: 22px;}
}

.popup-top-desc{
    padding: 1rem;border-bottom: 1px solid #ddd;line-height: 1.5;
}

.popup-info{
    padding: 2rem;
    .tit-tip{
        display: block;color: #000;font-family: 'Malgun Gothic';font-weight: 700;margin-bottom: .5rem;
    }
    .desc-tip{
        margin-top: 14px;line-height: 22px;font-size: 14px;
    }
    .desc-tip2{
        margin-top: 8px;line-height: 22px;
    }
    .txt-example{
        display: block;margin-top: 3px;font-size: 13px;line-height: 19px;color: #008bd3;
    }
}

.school-list{
    padding: 1rem;background-color: #f4f4f4;
    > ul{
        border: 1px solid #ddd;border-bottom: 0;background-color: #fff;
        li{
            padding: 1rem;border-bottom: 1px solid #ddd;
        }
    }
}

.about-top{
    margin-top: -80px;display: none;
    background: url('../images/img-about-top.png') no-repeat 50% 50%;height: 910px;
}
@media (max-width: 1439px){
    .about-top{height: 800px;background-size: cover;margin-bottom: -30px;}
}
@include media-breakpoint-down(lg) {
    .about-top{height: 600px;margin-bottom: -30px;}
}
@include media-breakpoint-down(md) {
    .about-top{margin-top: -2rem;height: 500px;}
}
@include media-breakpoint-down(sm) {
    .about-top{height: 300px;margin-bottom: 0;}
}

.giant-is{
    > div{padding: 77px 0;}
    .giant-bg1{background-color: #ddd;}
    .giant-bg3{background-color: #dae8e2;}
    .giant-bg4{background-color: #e9ebcd;}
}
@include media-breakpoint-down(md) {
    .giant-is{
        > div{padding: 40px 1rem;}
    }
}

.ceo{
    h2{font-family: 'Nanum Myeongjo';font-size: 48px;font-weight: 700;line-height: 1;}
    strong{
        font-family: 'Nanum Myeongjo';font-size: 27px;font-weight: 700;line-height: 2.3;display: block;
        &::before{content:'“';display: block;font-family: 'Nanum Myeongjo';font-size: 70px;font-weight: 700;line-height: 1;margin-top: 50px;}
        &::after{content:'”';display: block;font-family: 'Nanum Myeongjo';font-size: 70px;font-weight: 700;line-height: 1;margin-top: 50px;}
    }
    p{font-size: 18px;line-height: 1.67;}
    .from{font-size: 18px;line-height: 1.67;text-align: right;margin-top: 2rem;}
    img{float: left;margin: 0 1rem .5rem 0;}
    &::after{content: '';display: block;clear: both;}
}
@include media-breakpoint-down(md) {
    .ceo{
        h2{font-size: 18px;}
        strong{
            font-size: 16px;line-height: 2;
            &::before{font-size: 30px;margin-top: 30px;}
            &::after{font-size: 30px;margin-top: 30px;}
        }
        p{font-size: 14px;}
        img{width: 180px;}
        .from{font-size: 16px;line-height: 1.4;text-align: right;margin-top: 2rem;}
    }
}

.location{
    position: relative;
    .map-area{width: 100%;height: 690px;background-color: #f9f9f9;}
    .dim{position: absolute;left: 0;top: 0;background-color: rgba(51, 51, 51, .8);height: 100%;padding: 60px 30px;display: flex;flex-direction: column;justify-content: space-between;}
    h2{font-family: 'Nanum Myeongjo';font-size: 36px;font-weight: 700;line-height: 1;color: #fff;}
    .way{
        color: #fff;font-size: 18px;
        p{margin-bottom: 1rem;}
        .subway{font-weight: 700;margin-bottom: .5rem;}
        .green{color: #3ab449;}
        .yellow{color: #d6b428}
    }
    .info{color: #fff;font-size: 18px;letter-spacing: -0.05em;
        i{display: inline-block;width: 24px;}
    }
}
@include media-breakpoint-down(md) {
    .location{
        .map-area{height: 300px;}
        .dim{position: static;padding: 1rem;}
        h2{font-size: 18px;}
        .way{
            font-size: 15px;
        }
        .info{
            font-size: 14px;
            i{width: 20px;}
        }
    }
}

.flow{
    text-align: center;
}

.re-try{font-size: 24px;padding: 120px 0;text-align: center;}

.message-wrap{display: flex;background: #f1f1f1;height: 690px;}
.message-list{
    flex: 0 0 250px;max-width:250px;background: #f1f1f1;
    h1{font-size: 24px;font-weight: 700;}
    .message-search{
        padding: 1rem;height: 67px;
        .input-group{}
        .form-control{border-right: 0;}
        .form-control:focus{box-shadow: none;}
    }
    .list-top{
    }
    .list{
        height: calc(100% - 67px);overflow-x: hidden;
        li{border-top: 1px solid #eceaea;}
        li.active{background: $success;
            .name,
            .msg{color: #fff;}
        }
        a{display: flex;padding: .75rem 1rem;transition: background .15s;position: relative;overflow: hidden;}
        a:focus,
        a:hover{text-decoration: none;}
        .profile{width: 40px;height: 40px;flex: 0 0 auto;}
        .cont{width: 223px;padding-left: 10px;}
        .name{display: block;font-weight: 700;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;margin-bottom: 5px;width: 70%;}
        .msg{display: block;font-size: 14px;color: #888;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: 80%;}
        .unread{width: 16px;height: 16px;line-height: 16px;text-align: center;display: inline-block;background: $secondary;border-radius: 50%;overflow: hidden;color: #fff;position: absolute;right: 1rem;top: .85rem;font-size: 11px;font-weight: 700;font-size: -0.8px;}
    }
}
.message-content{
    flex-basis: 0;flex-grow: 1;width: 100%;border-left: 2px solid #fff;
}
.message-header{
    padding: 1rem 20px;height: 60px;border-bottom: 2px solid #fff;display: flex;justify-content: space-between;align-items: center;
    .opponent{display: inline-flex;align-items: center;flex-basis: 0;flex-grow: 1;max-width:80%;}
    .name{font-size: 18px;font-weight: 700;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
    .btn{flex: 0 0 auto;}
}
.message-body{
    padding: 20px;height: 550px;overflow-x: hidden;
    .date{
        margin: 2rem 0;text-align: center;
        span{background: #a8d1cb;border-radius: 17px;color: #fff;font-size: 14px;font-weight: 500;display: inline-block;width: 150px;height: 26px;line-height: 26px;text-align: center;}
    }
    .item{
        margin-bottom: 10px;
        .profile{margin-bottom: 10px;width: 40px;height: 40px;vertical-align: top;}
        p{max-width: 50%;background-color: #fff;border: 1px solid #eceaea;border-radius: 0 8px 8px 8px;padding: 1rem;}
        .time{font-size: 12px;font-weight: 300;padding-top: 5px;}
    }
    .item.my{
        p{float:right;border-radius: 8px 0 8px 8px;}
        .time{clear: both;text-align: right;}
    }
}
.message-footer{
    padding: 20px;border-top: 2px solid #fff;height: 80px;
    .input-group{
        .form-control{border-color: #e6ecf0;border-right: 0;}
        .form-control:focus{box-shadow: none;}
    }
}

@include media-breakpoint-down(md) {
    .message-wrap{display: block;height: auto;}
    .message-list{
        max-width: none;
        .list{max-height: 200px;}
    }
    .message-content{border-left: 0;border-top: 2px solid #fff;}
    .message-body{
        padding: 1rem;max-height: 60vh;height: auto;
        .date{
            margin: 1.5rem 0;
            span{font-size: 12px;}
        }
        .item{
            p{max-width:80%;padding: .75rem;}
        }
    }
}

.member-list{
    border-top: 1px solid #333;margin-bottom: 1rem;
    li{border-bottom: 1px solid #ddd;}
    .item{display: flex;align-items: center;padding: 1rem;text-decoration: none;;font-size: 16px;}
    .checkbox{margin-right: 20px;}
    .profile{width: 50px;height: 50px;flex: 0 0 50px;}
    .name{font-weight: 700;margin-left: 2rem;flex-basis: 0;flex-grow: 1;max-width: 100%;font-size: 17px;
        span{display: inline-block;}
        a:hover{text-decoration: underline;}
    }
    .shcool{width: 230px;text-align: center;margin-right: 30px;}
    .grade{width: 100px;text-align: center;margin-right: 80px;}
    .level{width: 70px;text-align: center;font-weight: 700;color: $secondary;font-size: 18px;}
    @at-root{
        .scroll-box{max-height: 260px;overflow-x: hidden;border-top: 1px solid #333;}
        .scroll-box &{
            border-top: 0;
            .item{font-size: 14px;padding: .75rem;}
            .profile{width: 30px;height: 30px;flex: 0 0 30px;}
            .name{font-size: 14px;margin-left: 1rem;}
            .shcool{width: 120px;margin-right: 10px;margin-left: 10px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
            .grade{width: 50px;margin-right: 10px;}
            .level{width: 40px;margin-right: 10px;font-size: 14px;}
        }
    }
}
@include media-breakpoint-down(md) {
    .member-list{
        .item{font-size: 14px;padding: 1rem .5rem;}
        .profile{display: none;}
        .name{margin-left: 0;font-size: 14px;}
        .shcool{width: 120px;margin-right: 10px;}
        .grade{width: 50px;margin-right: 10px;}
        .level{width: 40px;font-size: 14px;}
        @at-root{
            .scroll-box{max-height: 30vh;}
            .scroll-box &{
                .item{font-size: 13px;padding: .5rem 0;}
                .name{font-size: 13px;margin-left: 0;}
                .shcool{width: 98px;}
                .grade{width: 40px;margin-right: 3px;}
                .level{margin-right: 3px;font-size: 13px;}
                .button .btn{padding-left: 4px;padding-right: 4px;}
            }
        }
    }
}

.info-summery{
    display: flex;justify-content: center;margin-bottom: 1rem;
    li{
        margin: 0 .5em;font-weight: 700;font-size: 17px;
        &::before{content: '';display: inline-block;width: 4px;height: 4px;background: $primary;vertical-align: middle;margin-right: 6px;}
    }
}
@include media-breakpoint-down(md) {
    .info-summery{
        li{font-size: 15px;}
    }
}

.table-member{
    font-size: 15px;
}
@include media-breakpoint-down(md) {
    .table-member{
        font-size: 13px;
    }
}

.student-status{
    strong{font-size: 16px;}
}
@include media-breakpoint-down(md) {
    .student-status{
        strong{font-size: 13px;}
    }
}

.level-change{
    padding: 1rem;margin-top: .5rem;position: relative;display: none;
    background: #eee;
    label{font-weight: 700;margin-bottom: 0;}
    .close{position: absolute;right: 10px;top: 10px;opacity: 1;}
    &.show{display: block;}
}
@include media-breakpoint-down(sm) {
    .level-change{
        padding-top: 2rem;
        .close{top: 2px;}
    }
}

.dashboard{
    margin-bottom: 2rem;
    .card{height: 100%;border-color: #d3d79b;}
    .card-header{background: #d3d79b;font-weight: 700;border-color: #d3d79b;text-align: center;}
    .card-body{text-align: center;display: flex;align-items: center;justify-content: center;font-weight: 700;line-height: 1;}
    .count{font-size: 42px;}
    .date{font-size: 20px;letter-spacing: -0.05em}
    .price{font-size: 20px;}
}
@include media-breakpoint-down(sm) {
    .dashboard{
        .row{margin-left: -4px;margin-right: -4px;}
        [class^=col]{padding-left: 4px;padding-right: 4px;}
        .card-header,
        .card-body{padding-left: .5rem;padding-right: .5rem;}
        .count{font-size: 20px;}
        .date{font-size: 13px;}
        .price{font-size: 16px;}
    }
}

.mypage{
    .table{
        font-size: 15px;
        tbody{
            td{font-size: 14px;}
        }
    }
}
@include media-breakpoint-down(sm) {
    .mypage{
        .table{
            font-size: 13px;
            tbody{
                td{font-size: 13px;}
            }
        }
    }
}