.paint{
    position: relative;z-index: 0;
    &::before{content: '';display: block;width: 100%;height: 14px;position: absolute;left: 0;bottom: -4px;background-color: rgba(94, 107, 220, 0.25);z-index: -1;}
}

.history{
    .history-heading{width: 325px;}
    dl{display: flex;line-height: 1.3;}
    dt{
        flex: 0 0 auto;font-family: 'Play';font-size: 38px;width: 160px;padding-left: 25px;transform: translateY(-10px);
        span{
            position: relative;z-index: 0;
            &::before{content: '';display: block;width: 0;height: 16px;position: absolute;left: 0;top: 50%;background-color: rgba(174, 175, 25, .25);z-index: -1;transition: width .25s ease-in-out;}
        }
    }
    dd{
        flex: 1 1 100%;position: relative;
        &::before{content: '';width: 1px;height: 100%;background-color: #333;position: absolute;left: -160px;top: 0;}
    }
    li{
        display: flex;
        em{width: 60px;flex: 0 0 60px;font-family: 'Play';font-size: 20px;font-weight: 400;transform: translateY(-3px);}
        p{
            position: relative;z-index: 0;
            &::before{content: '';display: block;width: 0;height: 14px;position: absolute;left: 0;top: 40%;background-color: rgba(174, 175, 25, .25);z-index: -1;transition: width .25s ease-in-out;}
        }
    }
    li:hover{
        em{font-weight: 700;}
        p{
            &::before{width: 100%;}
        }
    }
    li + li{margin-top: 20px;}
    dl + dl{margin-top: 90px;}
    dl:hover{
        dt{
            span{
                &::before{width: 100%;}
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .history{
        .history-heading{
            width: auto;margin-bottom: 2rem;
            img{width: 100px;}
        }
        dl + dl{margin-top: 3rem;}
        dt{width: 75px;padding-left: 0;font-size: 24px;transform: translateY(-7px);}
        dd::before{display: none;}
        li{
            em{width: 35px;flex: 0 0 35px;font-size: 17px;transform: translateY(-2px);}
            p{line-height: 1.4;word-break: keep-all;}
        }
    }
}

.step{
    ol{display: flex;}
    li{font-size: 14px;color: $primary;}
    li + li::before{content: '>';margin: 0 .5rem;color: $primary;}
    li.active ~ *{
        color: #333;
        &::before{color: #888;}
    }
}
@include media-breakpoint-down(md) {
    .step{
        li{font-size: 12px;}
        li + li::before{margin: 0 .25rem;}
    }
}

.agree{padding-top: 2.5rem;border-bottom: 1px solid #333;padding-bottom: 2.5rem;}
.agree-item{
    h3{font-weight: 700;font-size: 1rem;margin-bottom: 5px;}
    textarea{font-size: 13px;}
}
@include media-breakpoint-down(md) {
    .agree{padding: 1.5rem 0 .5rem;}
    .agree-item{margin-bottom: 1rem;}
}

.login{
    padding: 50px 65px 95px;width: 590px;margin: 0 auto;border-radius: 20px;border: 1px solid #aaa;
    h2{text-align: center;font-weight: 900;font-size: 30px;margin-bottom: 55px;}
    .input-area{
        .form-control + .form-control{margin-top: -1px;}
        .form-control:first-of-type{border-radius: .3rem .3rem 0 0;}
        .form-control:last-of-type{border-radius: 0 0 .3rem .3rem;}
    }
}
@include media-breakpoint-down(md) {
    .login{
        width: auto;padding: 0 1rem;border: 0;
        h2{font-size: 24px;margin-bottom: 2rem;}
    }
}

.forgot{
    width: 590px;margin: 0 auto;
    .inner{padding: 55px 44px 65px;border-bottom: 1px solid #333;border-top: 1px solid #333;}
    h2{font-weight: 900;font-size: 30px;text-align: center;padding-bottom: 30px;}
}
@include media-breakpoint-down(md) {
    .forgot{
        width: auto;
        .inner{padding: 0;border: 0;}
        h2{font-size: 24px;margin-bottom: 2rem;padding-bottom: 0;}
        .btn-darkgray{font-size: 13px;padding-left: 5px;padding-right: 5px;letter-spacing: -0.06em;}
    }
}

.accordion-list{
    margin-bottom: 1rem;
    ul{border-top: 1px solid #333;}
    li{border-bottom: 1px solid $border-color;transition: background-color .2s .1s;}
    .q{
        > a{
            display: block;position: relative;padding: 1.5rem 4rem 1.5rem 1rem;transition: background-color .15s;text-decoration: none;
            &::before{content: '';background: url('../images/icon-arrow-down.svg') no-repeat 50% 50%;display: block;width: 24px;height: 24px;position: absolute;right: 1rem;top: 50%;margin-top: -12px;transition: transform .2s .1s;}
            &:hover{background-color: #f5f5f5;}
        }
    }
    .a{
        display: none;
        .text{padding: 1.5rem 1rem;}
    }
    .active{
        background-color: #f5f5f5;
        .q{
            > a{font-weight: 700;}
            > a::before{transform: rotate(180deg);}
        }
        .a{
            border-top: 1px dotted $border-color;
        }
    }
}
@include media-breakpoint-down(md) {
    .accordion-list{
        .q{
            > a{
                padding: 1rem 2rem 1rem .75rem; word-break: keep-all;
                &::before{right: .25rem;}
            }
        }
        .a{
            .text{padding: 1rem .75rem;}
        }
    }
}

.form{
    border-top: 1px solid #333;border-bottom: 1px solid #333;padding: 2.5rem 0;
    .inner{width: 550px;}
}
@include media-breakpoint-down(md) {
    .form{
        .inner{width: auto;}
    }
}

.welcome{
    border-top: 1px solid #333;border-bottom: 1px solid #333;min-height: 600px;
    strong{text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);font-size: 37px;font-weight: 700;letter-spacing: -0.93px;margin-top: 110px;}
    p{line-height: 1.55;font-size: 22px;letter-spacing: -0.55px;margin-top: 30px;word-break: keep-all;}
}
@include media-breakpoint-down(md) {
    .welcome{
        min-height: auto;padding: 3.5rem 0;
        .text img{width: 300px;}
        strong{font-size: 20px;margin-top: 2rem;}
        p{font-size: 14px;margin-top: 2rem;text-align: center;}
    }
}

.mypage{
    position: relative;margin-top: -45px;margin-bottom: -150px;min-height: 970px;padding-left: 170px;border-right: 1px solid #eceaea;
}
@include media-breakpoint-down(md) {
    .mypage{margin: 0;min-height: 0;padding: 1rem 0 0 0;border-right: 0;}
}

.side{
    background-color: #f1f1f1;width: 170px;height: 100%;position: absolute;left: 0;top: 0;
    .user{
        text-align: center;background-color: #abcbcb;padding: 50px 0 0;
        .profile-wrap{position: relative;width: 144px;height: 144px;margin: 0 auto;}
        .profile{
            display: flex;align-items: center;justify-content: center;width: 100%;height: 100%;border-radius: 50%;overflow: hidden;background: url('../images/profile.png') no-repeat 50% 50%;border: 8px solid #e8e8e8;
            img{width: 144px;height: 144px;object-fit: contain;}
        }
        .btn-upload{
            display: block;background: #d1d1d1;border-radius: 50%;width: 42px;height: 42px;position: absolute;right: 0;bottom: 0;
            i{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);z-index: 1;}
        }
        .name{font-size: 18px;color: #fff;font-weight: 700;margin-top: 1.5rem;}
    }
    .info{
        padding: 1rem 1.25rem;background-color: #abcbcb;color: #fff;
        dt{clear: left;float: left;font-weight: 400;width: 27px;text-align: center;margin-right: 15px;padding: .75rem 0;}
        dd{font-weight: 700;font-size: 14px;border-bottom: 1px solid #e8e8e8;padding: .75rem 0;margin-bottom: 0;}
        dd:last-of-type{border-bottom: 0;}
    }
    .btns{
        a{
            display: block;border-bottom: 1px solid #eceaea;padding: 1rem 1.25rem;color: #707070;background: url('../images/icon-arrow-right-sm.svg') no-repeat right 1.25rem top 50%;text-decoration: none;transition: all .2s;
            &:hover{
                background-color: #dfdfdf;
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .side{
        width: auto;position: static;
        .user{
            padding: 1rem;
            .profile-wrap{width: 100px;height: 100px;}
            .name{margin-top: .5rem;}
        }
        .info{float: left;width: 50%;padding: 0 1rem;}
        .btns{
            float: left;width: 50%;
            a{padding-top: .75rem;padding-bottom: .75rem;}
        }
        &::after{content: '';clear: both;display: block;}
    }
}

.right{
    padding: 4rem 4rem;
}
@include media-breakpoint-down(lg) {
    .right{
        padding: 3rem;
    }
}
@include media-breakpoint-down(md) {
    .right{padding: 2rem 0;}
}

.levelup{
    text-align: center;margin-bottom: 4rem;padding-top: 2rem;
    strong{color: $success;font-size: 18px;font-family: ArialRounded;position: absolute;left: 50%;top: 2rem;transform: translateX(-50%);
        -webkit-animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    .bar{display: inline-block;position: relative;padding-top: 113px;}
    [class*=marker]{position: absolute;bottom: 85px;
        -webkit-animation: bounce 0.7s ease-in-out both .3s;
        animation: bounce 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both .3s;
    }
    .marker1{display: block;background: url('../images/img-test-icon1.png') no-repeat 50% 50%; width: 58px;height: 79px;left: 60px;}
    .marker2{display: block;background: url('../images/img-test-icon2.png') no-repeat 50% 50%; width: 73px;height: 103px;left: 184px;bottom: 75px;animation-delay: .4s}
    .marker3{display: block;background: url('../images/img-test-icon3.png') no-repeat 50% 50%; width: 58px;height: 79px;left: 380px;animation-delay: .8s}
    .marker4{display: block;background: url('../images/img-test-icon4.png') no-repeat 50% 50%; width: 58px;height: 79px;left: 533px;animation-delay: .6s}
}

.mypage-test{
    p{
        font-size: 24px;line-height: 2.08;text-align: center;letter-spacing: -0.6px;
        strong{display: block;color: $secondary;}
    }
}

label.number{
    cursor: pointer;display: inline-flex;align-items: center;font-family: arial;margin-bottom: 0;
    input{position: absolute;opacity: 0;visibility: hidden;height: 0;width: 0;}
    i{display: inline-block;vertical-align: middle;width: 18px;height: 18px;line-height: 17px;text-align: center;border-radius: 50%;border: 1px solid #ccc;color: #555;font-size: 12px;font-family: arial;transform: translateY(-1px);}
    span{margin-left: .5rem;}
    input:checked + i{border-color: $dark;background-color: $dark;color: #fff;font-weight: 500;}
}

.choice{
    margin-top: 10px;
    > div{margin: 5px 0;}
    &.inline{
        > div{
            display: inline-flex;align-items: center;margin: 0 25px 0 0;
        }
    }
    .text-right{margin-top: -5px}
}

.type-in-order{
    text-align: center;
    .item{text-align: center;padding: 3px 5px;background: #f1f1f1;border-radius: 30px;}
}

.type-box{
    border: 1px solid #999;padding: 1rem;border-radius: 2px;
}

.type-table{
    display: flex;align-items: center;width: 100%;
    .item{flex-basis: 0;flex-grow: 1;max-width: 100%;}
    .arr{flex: 0 0 auto;width: auto;max-width: 100%;text-align: center;padding: 0 .5rem;}
    table{width: 100%;
        th{background-color: $light;}
        th,
        td{font-weight: 400;border: 1px solid #ddd;padding: 3px 8px;height: 36px;}
    }
}

.questions{
    padding: 2rem;height: calc(100vh - 78px - 150px);overflow-x: hidden;line-height: 1.7;
    .text-underline{}
    > li{
        display: flex;margin-bottom: 1.5rem;font-size: 17px;
        .num{flex: 0 0 30px;font-weight: 700;}
        .text{flex: 1;}
        .question{line-height: 1.6;white-space: pre-wrap;margin-bottom:10px;}
    }
}

.text-read{
    padding: 2rem;height: calc(100vh - 78px - 150px);overflow-x: hidden;
    .tit{font-size: 24px;font-weight: 700;margin-bottom: 3rem;}
    .text{font-size: 17px;line-height: 2.5;}
}

.test-header{
    color: #fff;padding: 1.25rem 2rem;background: $success;position: relative;
    h1{font-size: 32px;font-weight: 900;margin-bottom: 0;letter-spacing: -1px; }
    span{font-size: 22px;font-weight: 700;}
    .btn{position: absolute;right: 2rem;top: 50%;transform: translateY(-50%);}
    .timer{
        position: absolute;right: 2rem;top: 50%;transform: translateY(-50%);display: flex;align-items: center;font-size: 20px;
        > div{display: flex;align-items: center;margin:0 0 0 20px;color: #fbf6cc;}
        em{width: 40px;border: 0;padding: 2px 0;font-size: 24px;color: #fff7b2;background: #306463;border-radius: 2px;margin: 0 8px;text-align: center;line-height: 1;font-weight: 700;}
        > div:first-of-type{
            color: #dcfefd;
            em{color: #adfffd;}
        }
        i{font-size: 30px;}
    }
}
.test-body{
   border: 10px solid #a8d1cb;border-top: 0;border-bottom: 0;
}
.test-footer{
    border: 10px solid #a8d1cb;border-top: 1px solid #a8d1cb;height: 150px;display: flex;align-items: center;justify-content: center;position: fixed;left: 0;bottom: 0;width: 100%;
}

@media print{
    .test-result{height: auto !important;}
    .test-footer{display: none;}
}

.test-start{
    text-align: center;min-height: calc(100vh - 78px - 4rem);display: flex;align-items: center;justify-content: center;
    .test-start-inner{}
    .text{font-size: 24px;line-height: 2;font-weight: 700;letter-spacing: -0.6px;margin-bottom: 60px;}
    .marker{
        margin-bottom: .5rem;
        span{
            display: block;margin-bottom: 5px;
            -webkit-animation: bounce-vertical .6s linear infinite alternate;
	        animation: bounce-vertical .6s linear infinite alternate;
        }
        strong{display: block;color: $success;font-size: 18px;font-family: arial;}
    }
    .text-small{font-size: 14px;font-weight: 700;color: $secondary;margin-top: 40px;}
}

.test-result{
    padding: 2rem;height: calc(100vh - 78px - 150px);overflow-x: hidden;
}
.chart-wrap{
    display: flex;align-items: center;justify-content: center;
    .chart{margin: 0 1rem;position: relative;width: 280px;height: 280px;}
    .legend{
        position: absolute;left: 0;top: 0;bottom: 0;right: 0;display: flex;align-items: center;text-align: center;justify-content: center;
        p{font-size: 24px;font-weight: 700;}
        strong{
            display: block;font-size: 48px;font-weight: 700;
            i{font-size: 20px;}
        }
    }
}

.chart-radar{display: flex;justify-content: center;}

.chart-bar-title{
    font-size: 16px;font-weight: 700;padding: 6px 25px 6px 20px;display: inline-block;
    &.bg1{background: #e9ebcd;border-left: 5px solid $primary;border-radius: 5px;}
    &.bg2{background: #d3e8e5;border-left: 5px solid $success;border-radius: 5px;}
}

.reference-title{font-size: 16px;font-weight: 700;margin-bottom: 1rem;}
.test-reference{
    .table{height: 390px;}
}

.table{
    .bg1{background: #e9ebcd;}
    .bg2{background: #d7ece9;}
    .bg3{background: #f1f1f1;}
}

.test-summary{

}

.test-desc{font-size: 18px;margin-bottom: 1rem;text-align: center;
    b{font-weight: 900;}
}

.text-sky{color: #a0cee4 !important;}
.text-peach{color: #fbd185 !important;}
.chart-group{
    .chart-area{height: 360px;}
    .chart-name{font-size: 22px;font-weight: 900;text-align: center;margin-top: .5rem;}
    & + .chart-group{margin-top: 2rem;}
}

.learning-progress{
    h2{font-size: 20px;font-weight: 700;margin-bottom: 25px;}
}
.progress{
    border-radius: 10px;height: 10px;position: relative;overflow: visible;margin-bottom: 50px;background: #d8dbb2;
    .progress-bar{border-radius: 10px 0 0 10px;}
    .point{
        display: block;border-radius: 50%;width: 18px;height: 18px;position: absolute;top: -4px;border-radius: 50%;margin-left: -9px;
        i{display: block;width: 9px;height: 9px;background-color: #fff;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);border-radius: 50%;}
        &:nth-of-type(1){left: 14.2857%;}
        &:nth-of-type(2){left: 28.5714%;}
        &:nth-of-type(3){left: 42.8571%;}
        &:nth-of-type(4){left: 57.1428%;}
        &:nth-of-type(5){left: 71.4258%;}
        &:nth-of-type(6){left: 85.7142%;}
    }
    .point.active{
        background-color: $primary;
        &::after{content: '';display: block;width: 30px;height: 14.5px;background: url('../images/icon-leaf.svg') no-repeat 50% 50%;background-size: contain;position: absolute;left: 50%;top: -17px;transform: translateX(-50%);}

    }
    &.level10{
        margin-bottom: 80px;
        .point{
            &:nth-of-type(1){left: 10%;}
            &:nth-of-type(2){left: 20%;}
            &:nth-of-type(3){left: 30%;}
            &:nth-of-type(4){left: 40%;}
            &:nth-of-type(5){left: 50%;}
            &:nth-of-type(6){left: 60%;}
            &:nth-of-type(7){left: 70%;}
            &:nth-of-type(8){left: 80%;}
            &:nth-of-type(9){left: 90%;}
            &:nth-of-type(10){left: 100%;}
            &::before{
                content: attr(data-level);background: #e9ebcd;padding: 10px 0 0;border-radius: 5px;font-size: 18px;font-weight: 700;position: absolute;left: 50%;top: 30px;margin-left: -44px;width: 88px;height: 50px;text-align: center;display: none;
            }
        }
        .point.active{
            &::before{display: block;}
        }
    }
}
.progress-list{
    .row-20{
        margin: -10px;
        [class^=col]{padding: 10px;}
    }
    .item{
        overflow: hidden;
        &.disabled{
            .item-header{opacity: .5;}
            .item-body{border-color: #dbdbdb;}
        }
    }
    .item-header{
        background-color: $success;padding: .5rem 0;text-align: center;border-radius: 5px 5px 0 0;position: relative;
        &::after{content: '';width: 0;height: 0;border-style: solid;border-width: 8px 8px 0 8px;border-color: $success transparent transparent transparent;position: absolute;left: 50%;bottom: -7px;transform: translateX(-50%);}
    }
    .item-body{border: 1px solid $success;border-top: 0;border-radius: 0 0 5px 5px;padding-top: 10px;background-color: #f9f8f8;}
    .group{padding: 20px 15px;}
    .group + .group{
        border-top: 1px dashed #dbdbdb;
    }
    .num{font-size: 16px;font-family: 'Play';color: #fff;font-weight: 700;}
    .text{font-size: 14px;text-align: center;color: #707070;margin-bottom: 20px;}
    .btn{font-size: 13px;}
}

.popup-head{
    &.bg-dark{
        padding: 1rem;
        .popup-title{color: #fff;font-size: 22px;font-weight: 700;margin: 0;}
    }
}
.popup-body{}

.popup-top-search{
    position: relative;border-bottom: 1px solid #333;display: flex;align-items: center;padding-right: 1rem;
    .form-control{border-radius: 0;border: 0;flex: 1;}
    i{vertical-align: top;}
    button{line-height: 1;margin-left: .5rem;}
    .icon-search{width: 22px;height: 22px;}
}

.popup-top-desc{
    padding: 1rem;border-bottom: 1px solid #ddd;line-height: 1.5;
}

.popup-info{
    padding: 2rem;
    .tit-tip{
        display: block;color: #000;font-family: 'Malgun Gothic';font-weight: 700;margin-bottom: .5rem;
    }
    .desc-tip{
        margin-top: 14px;line-height: 22px;font-size: 14px;
    }
    .desc-tip2{
        margin-top: 8px;line-height: 22px;
    }
    .txt-example{
        display: block;margin-top: 3px;font-size: 13px;line-height: 19px;color: #008bd3;
    }
}

.school-list{
    padding: 1rem;background-color: #f4f4f4;
    > ul{
        border: 1px solid #ddd;border-bottom: 0;background-color: #fff;
        li{
            padding: 1rem;border-bottom: 1px solid #ddd;
        }
    }
}

