.main-swiper{
    margin-top: -45px;margin-bottom: 100px;
    .item{
        height:850px;background-repeat: no-repeat;background-position: 50% 0;background-size: cover;position: relative;transition: transform 8s;
    }
    .text{
        font-family: 'Noto Sans KR';
        background-color: rgba(0,0,0,0.5);color: #fff;text-align: center;display: flex;flex-direction: column;justify-content: center;align-items: center;height: 200px;position: absolute;bottom: 0;left: 0;width: 100%;
        span{font-size: 36px;display: block;transition: all .5s ease-in-out .5s;opacity: 0;transform: translateY(40px);visibility: hidden;animation-play-state: paused;}
        strong{font-size: 52px;font-weight: 700;transition: all .5s ease-in-out .9s;opacity: 0;transform: translateY(40px);visibility: hidden;animation-play-state: paused;}
    }
    .on{
        .item{transform: scale(1.1);}
        .text{
            span,
            strong{visibility: visible;opacity: 1;transform: translateY(0);}
        }
    }

    .swiper-slide{position: relative;}
    .swiper-pagination{bottom: 220px;}
    .swiper-pagination-bullet{width: 10px;height: 10px;border-radius: 50px;transition: width .15s;opacity: .5;background: #fff;}
    .swiper-pagination-bullet-active{width: 29px;border-radius: 50px;background: $primary;opacity: .9;}
}

@include media-breakpoint-down(md) {
    .main-swiper{
        margin-top: 0;margin-bottom: 0;
        .item{
            height: calc(50vh - 60px);
        }
        .text{
            height: 80px;
            span{font-size: 14px;}
            strong{font-size: 18px}
        }
        .swiper-pagination{bottom: 90px;}
    }
}

.main-section{
    font-size: 24px;line-height: 2;letter-spacing: -0.6px;color: #333;font-family: 'Noto Sans KR';padding: 3rem 0;position: relative;overflow: hidden;
    .paint::before{background-color: rgba($primary, 0.5);}
    .frame{margin: 0 auto;border-top: 5px solid $primary;border-bottom: 5px solid $primary;padding: 3rem 0;}
    .box{
        background: #f5f6e7;border-radius: 40px;padding: 3rem;font-size: 18px;line-height: 2.22;letter-spacing: -0.45px;width: 912px;margin: 0 auto;
        &.popcorn{
            text-align: left;
            dt{font-size: 24px;}
            dd{font-size: 18px;}
        }
    }
    .text2{font-size: 36px;letter-spacing: -0.9px}
    .text3{color: $secondary;font-size: 30px;font-weight: 700;line-height: 1.67;letter-spacing: -0.75px;padding-top: 1.5rem;position: relative;
        &::before{content: '';display: block;width: 50px;height: 5px;background: $secondary;position: absolute;left: 50%;top: 0;margin-left: -25px;}
    }
    .text4{font-size: 18px;letter-spacing: -0.45px}
    .img-book1{position: absolute;left: 50%;top: 80px;margin-left: -830px;opacity: 0;transform: translateX(-60px);transition: .8s ease-in-out .5s;}
    .img-book2{position: absolute;right: 50%;top: 50%;margin-right: -850px;margin-top: -300px;opacity: 0;transform: translateX(60px);transition: .8s ease-in-out .5s;}
    &.in{
        .img-book1,
        .img-book2{opacity: 1;transform: translateX(0);}
    }
    &.line-banner{
        min-height: 680px;background: url('../images/main-line-benner.png') no-repeat 50% 50%;color: #fff;margin: 3rem 0;
        .inner{padding-left: 45%;}
        strong{display: block;font-weight: 700;font-size: 24px;letter-spacing: -0.6px;text-shadow: 0 4px 4px rgba(0, 0, 0, 0.47);margin-bottom: 2rem;}
        li{text-shadow: 0 4px 4px rgba(0, 0, 0, 0.47);font-size: 18px;}
    }
}

@include media-breakpoint-down(md) {
    .main-section{
        font-size: 14px;line-height:1.7;padding: 1.5rem 0;letter-spacing: -0.5px;word-break: keep-all;
        .frame{padding: 1.5rem 0;}
        .box{
            border-radius: 20px;padding: 1rem;font-size: 13px;line-height: 1.6;width: auto;
            &.popcorn{
                dt{font-size: 14px;}
                dd{font-size: 13px;}
            }
        }
        .text2{font-size: 16px;}
        .text3{font-size: 16px;}
        .text4{font-size: 13px;}
        .img-book1{position: absolute;left: 50%;top: 80px;margin-left: -830px;}
        .img-book2{position: absolute;right: 50%;top: 50%;margin-right: -850px;margin-top: -300px;}
        &.line-banner{
            min-height: 0;background: url('../images/main-line-benner.png') no-repeat 100% 50%;margin: 0;background-size: cover;
            .inner{padding-left:0;}
            strong{font-size: 15px;margin-bottom: 1rem;}
            li{font-size: 13px;}
        }
    }
}