@charset "UTF-8";
/* 컨텐츠 css */
[class^=icon-] { display: inline-block; background-size: contain; background-repeat: no-repeat; background-position: 0 0; font-style: normal; }

.icon-close-black { background-image: url("../images/icon-close-black.png"); width: 21px; height: 21px; }

.icon-close-white { background-image: url("../images/x-white.svg"); width: 35px; height: 34px; }

.icon-down-white { background-image: url("../images/chevron-down-solid.svg"); width: 15px; height: 15px; }

.icon-new { font-size: 15px; width: 25px; height: 25px; padding-right: 1px; background: #fe561c; color: #fff; text-align: center; line-height: 25px; font-weight: 700; }

.icon-refrash { background-image: url("../images/icon-refrash.png"); width: 22px; height: 22px; }

.icon-search { background-image: url("../images/icon-search-black.svg"); width: 20px; height: 20px; vertical-align: middle; }

.icon-bell { background-image: url("../images/icon-bell.png"); width: 17px; height: 16px; vertical-align: middle; }

.icon-file { background-image: url("../images/icon-file.png"); width: 18px; height: 20px; vertical-align: middle; }

.icon-play { background-image: url("../images/icon-play.svg"); width: 18px; height: 16px; vertical-align: middle; background-position: 50% 50%; }

.icon-pause { background-image: url("../images/icon-pause.svg"); width: 18px; height: 16px; vertical-align: middle; background-position: 50% 50%; }

.icon-blog { background-image: url("../images/icon-blog.svg"); width: 37px; height: 37px; vertical-align: top; }

.icon-facebook { background-image: url("../images/icon-facebook.svg"); width: 37px; height: 37px; vertical-align: top; }

.icon-calendar { background-image: url("../images/icon-calendar.png"); width: 21px; height: 21px; vertical-align: top; }

@media (max-width: 991.98px) { .icon-new { width: 22px; height: 22px; font-size: 13px; line-height: 23px; }
  .icon-refrash { width: 18px; height: 18px; }
  .icon-file { width: 14.5px; height: 15px; }
  .icon-play { width: 18px; height: 12px; }
  .icon-pause { width: 18px; height: 12px; } }

i.new { display: inline-block; background: #cb1c1c; width: 13px; height: 13px; border-radius: 2px; color: #fff; text-align: center; line-height: 13px; font-weight: 700; font-size: 10px; font-family: 'Play'; }

[data-event=datepicker] { background: url("../images/icon-calendar.png") no-repeat right 1rem top 50%; padding-right: 52px; max-width: 170px; }

@media (max-width: 991.98px) { [data-event=datepicker] { background-size: 13px auto; background-position: right 10px top 50%; padding-right: 30px; } }

.title { font-size: 28px; font-weight: 700; color: #333; }

@media (max-width: 991.98px) { .title { font-size: 20px; } }

.border-bottom-dark { border-bottom: 1px solid #333; }

textarea.form-control { padding-top: .75rem; padding-bottom: .75rem; }

.form-control.text-center { padding-left: 3px; padding-right: 3px; }

.custom-select { background-image: url("../images/select.svg"); }

.form-text { font-size: 12px; }

@media (max-width: 991.98px) { .col.col-md-auto .btn-lg { padding-left: 3px; padding-right: 3px; font-size: 15px; } }

.nav-tabs { margin-bottom: 50px; }

.nav-tabs .nav-link { flex: 1 1 auto; text-align: center; background: #ddd; border-radius: 0; padding: 10px; transition: background .15s; }

.nav-tabs .nav-link:hover { background: #e7e7e7; }

.nav-tabs .nav-link.active:hover { background: #fff; }

@media (max-width: 991.98px) { .nav-tabs { margin-bottom: 2rem; } }

.table { border-bottom: 1px solid #dee2e6; border-top: 1px solid #333; }

.table tr { transition: background-color .15s; }

@media (max-width: 991.98px) { .table colgroup { display: none; } }

.board-detail { border-top: 1px solid #333; border-bottom: 1px solid #333; }

.board-detail .board-header { border-bottom: 1px solid #dee2e6; padding: 2rem 1rem; }

.board-detail .board-header .subject { font-size: 22px; font-weight: 700; letter-spacing: -0.025em; color: #333; }

.board-detail .board-header .date { color: #999; display: flex; align-items: center; margin-top: 10px; }

.board-detail .board-header .date span { position: relative; }

.board-detail .board-header .date span + span::before { content: ''; display: inline-block; vertical-align: middle; width: 2px; height: 15px; background: #cfcfcf; margin: 0 10px; transform: translateY(-1px); }

.board-detail .board-body { padding: 2rem 1rem; min-height: 300px; }

.board-detail .board-file { background: #f9f9f9; padding: 2rem 1rem; display: flex; }

.board-detail .board-file p { font-weight: 700; color: #333; display: inline-block; vertical-align: middle; margin-right: 42px; flex: 0 0 auto; }

.board-detail .board-file a { vertical-align: middle; margin-right: 20px; flex-basis: 0; flex-grow: 1; }

@media (max-width: 991.98px) { .board-detail { margin-bottom: 30px; }
  .board-detail .board-header { padding: 25px 0; }
  .board-detail .board-header .subject { font-size: 16px; margin-bottom: 5px; }
  .board-detail .board-header .date span + span::before { width: 1px; }
  .board-detail .board-body { padding: 25px 0; min-height: 150px; }
  .board-detail .board-file { padding: 25px 20px; }
  .board-detail .board-file p { margin-right: 25px; }
  .board-detail .board-file a { margin-right: 15px; } }

html, body { width: 100%; height: 100%; }

@media (max-width: 991.98px) { body { font-size: 13px; min-width: 320px; }
  .container { padding-left: 1rem; padding-right: 1rem; } }

#skip_navi { position: fixed; left: 0; top: -999px; display: block; padding: 10px 20px; font-size: 16px; color: #000; background: #f55454; }

#skip_navi:focus { top: 0; z-index: 999; }

#wrap { position: relative; min-height: 100%; }

#header { min-height: 135px; width: 100%; position: relative; z-index: 10; padding-bottom: 45px; }

#header .container { position: relative; }

#header::before { content: ''; display: block; width: 100%; height: 1px; background-color: #ddd; position: absolute; top: 90px; left: 0; }

#header::after { content: ''; display: block; width: 100%; height: 45px; transition: all 0.1s ease-in; position: absolute; bottom: 0; }

#header .logo { position: absolute; top: 25px; left: 0; }

#header .logo a { display: block; background-image: url("../images/logo.png"); background-repeat: no-repeat; background-position: 50% 50%; width: 189px; height: 47px; background-size: 100% auto; }

html.has-dep2 #header::after, html.open-gnb-dep2 #header::after { background: #272727; }

@media (max-width: 991.98px) { #header { min-height: 60px; height: 60px; padding-bottom: 0; }
  #header .container { height: 100%; }
  #header::before { top: 60px; }
  #header .logo { top: 18px; left: 1rem; }
  #header .logo a { width: 94px; height: 25px; }
  #header::after { display: none !important; } }

.h-set { position: absolute; right: 0; top: 34px; }

.h-menu { display: inline-block; vertical-align: middle; margin-left: 20px; }

.h-menu ul { display: flex; }

.h-menu ul li + li { margin-left: 20px; }

.h-menu ul li + li::before { content: ''; display: inline-block; width: 1px; height: 10px; background-color: #bbb; margin-right: 20px; }

.h-menu ul a { color: #2f2f2f; font-size: 14px; }

.h-menu ul li.active a { color: #ff9b1a; }

@media (max-width: 991.98px) { .h-set { position: static; }
  .h-menu { margin-left: 0; }
  .h-menu ul a { color: #fff; }
  .h-menu ul .icon-bell { background-image: url("../images/icon-bell-white.png"); }
  .h-menu ul li + li { margin-left: 1rem; }
  .h-menu ul li + li::before { margin-right: 1rem; } }

@media (max-width: 991.98px) { .mobile-header-group { background: rgba(0, 0, 0, 0.7) url("../images/bg-gnb-mobile.jpg") no-repeat 0 0; background-size: auto 100%; position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 999; transform: translate(100%); overflow-x: hidden; padding: 70px 2rem 20px; }
  .mobile-menu { position: absolute; right: 1rem; top: 21px; z-index: 1000; display: flex; align-items: center; }
  .mobile-menu a { display: block; }
  .mobile-menu a + a { margin-left: 15px; }
  .mobile-menu .icon-search { background-image: url("../images/icon-search-black.svg"); display: inline-block; width: 30px; height: 30px; }
  .btn-hamburger { display: inline-block; vertical-align: top; position: relative; opacity: 1; height: 3px; width: 30px; background-color: #000; transition: transform 400ms ease; }
  .btn-hamburger:before, .btn-hamburger:after { content: ""; display: block; position: absolute; opacity: 1; height: 3px; width: 100%; background-color: #000; }
  .btn-hamburger:before { top: 8px; transition: opacity 400ms ease; }
  .btn-hamburger:after { top: 16px; transition: transform 400ms ease; } }

@media (max-width: 991.98px) { html.open-mobile-menu body, html.open-mobile-search body { overflow: hidden !important; }
  html.open-mobile-menu .mobile-header-group, html.open-mobile-search .mobile-header-group { transform: translate(0); transition: all .25s .03s ease-in-out; }
  html.open-mobile-menu .btn-hamburger, html.open-mobile-search .btn-hamburger { transform: rotate(45deg) translateY(13px); background-color: #fff; }
  html.open-mobile-menu .btn-hamburger:before, html.open-mobile-menu .btn-hamburger:after, html.open-mobile-search .btn-hamburger:before, html.open-mobile-search .btn-hamburger:after { background-color: #fff; }
  html.open-mobile-menu .btn-hamburger:before, html.open-mobile-search .btn-hamburger:before { opacity: 0; }
  html.open-mobile-menu .btn-hamburger:after, html.open-mobile-search .btn-hamburger:after { transform: rotate(-450deg) translateX(16px); }
  html.open-mobile-menu .h-search { display: none; }
  html.open-mobile-menu [data-id="btn-search"] { display: none; }
  html.open-mobile-search .mobile-header-group { transition: none; background: rgba(0, 0, 0, 0.7); }
  html.open-mobile-search .h-menu { display: none; }
  html.open-mobile-search .gnb { display: none; }
  html.open-mobile-search [data-id="btn-search"] { display: none; }
  html.open-mobile-search .btn-hamburger, html.open-mobile-search .btn-hamburger:before, html.open-mobile-search .btn-hamburger:after { background-color: #fff !important; } }

.gnb { position: absolute; left: 280px; top: 0; }

.gnb a:hover { text-decoration: none; }

.gnb .dep1 { display: flex; }

.gnb .dep1 > li { position: relative; }

.gnb .dep1 > li + li { margin-left: 90px; }

.gnb .dep1 > li > a { display: block; width: 100%; font-weight: 700; font-size: 18px; position: relative; text-align: center; line-height: 90px; color: #272727; transition: color .15s; }

.gnb .dep1 > li.active > a, .gnb .dep1 > li.hover > a { color: #aeaf19; }

.gnb .dep1 > li.active > .dep2, .gnb .dep1 > li.hover > .dep2 { display: flex; }

.gnb .dep1 > li:nth-child(3) .dep2 { left: -130px; }

.gnb .dep2 { position: absolute; left: -30px; bottom: -45px; z-index: 1; width: 100%; display: none; }

.gnb .dep2 > li { position: relative; }

.gnb .dep2 > li > a { display: inline-block; padding: 11px 32px; color: #fff; white-space: nowrap; font-size: 1rem; font-weight: 700; }

.gnb .dep2 > li + li::before { content: ''; width: 1px; height: 12px; background: #fff; position: absolute; left: 0; top: 50%; margin-top: -5px; }

.gnb .dep2 > li.active > a { color: #ff9b1a; font-weight: 700; }

@media (max-width: 1199.98px) { .gnb .dep1 > li + li { margin-left: 60px; } }

@media (max-width: 991.98px) { .gnb { padding-top: 30px; position: static; }
  .gnb a { color: #fff !important; }
  .gnb .dep1 { display: block; border: 0; }
  .gnb .dep1 > li { width: 100%; margin: 1rem 0 !important; border: 0 !important; }
  .gnb .dep1 > li > a { text-align: left; line-height: 1.6; font-size: 20px; }
  .gnb .dep1 > li.active > a { color: #ffff29 !important; }
  .gnb .dep2 { position: static; text-align: left; display: block !important; padding-top: 8px; }
  .gnb .dep2 > li { display: block; }
  .gnb .dep2 > li + li:before { display: none; }
  .gnb .dep2 > li > a { font-size: 16px; padding: .5rem 1rem; }
  .gnb .dep2 > li.active > a { color: #ffff29 !important; } }

#container-block { padding-bottom: 200px; }

#container { padding-bottom: 150px; }

@media (max-width: 991.98px) { #container { padding-bottom: 60px; } }

#content { padding-top: 80px; }

@media (max-width: 991.98px) { #content { padding-top: 2rem; } }

#footer { position: absolute; bottom: 0; width: 100%; height: 200px; background: #232323; text-align: center; color: #eee; padding: 2rem 0; }

#footer .f-menu { display: flex; align-items: center; justify-content: center; margin-bottom: 1rem; }

#footer .f-menu li a { color: #fff; font-size: 14px; }

#footer .f-menu li::after { content: ''; display: inline-block; width: 1px; height: 10px; background: #ccc; margin: 0 15px; }

#footer .f-menu li strong { color: #aeaf19; }

#footer .f-menu li:last-child::after { display: none; }

#footer .f-info { line-height: 1.76; font-size: 13px; }

#footer .copyright { line-height: 1.7; margin-top: 5px; font-size: 13px; }

@media (max-width: 991.98px) { #footer { padding: 1.5rem 0; }
  #footer .f-menu li a { font-size: 12px; }
  #footer .f-info { font-size: 12px; }
  #footer .copyright { font-size: 12px; } }

#nav { margin-top: -60px; margin-bottom: 60px; background: rgba(0, 0, 0, 0.6); }

#nav .container { height: 60px; display: flex; align-items: center; }

#nav .container div { height: 100%; }

#nav .container > div { min-width: 230px; position: relative; height: 100%; }

#nav .container > div a { color: #fff; }

#nav .container > div::before { content: ''; display: block; width: 1px; height: 100%; background-color: #666; position: absolute; right: 0; top: 0; z-index: 1; }

#nav .container > div .ing { display: flex; align-items: center; position: relative; height: 100%; text-decoration: none; padding: 0 20px; font-size: 17px; }

#nav .container > div .ing::before { content: ''; display: block; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #fff; position: absolute; right: 20px; top: 50%; margin-top: -2.5px; -ms-transform: rotate(0); -webkit-transform: rotate(0); transform: rotate(0); transition: transform 0.3s ease; -webkit-transition-delay: .1s; -o-transition-delay: .1s; transition-delay: .1s; -webkit-transition: transform 0.3s ease; -moz-transition: transform 0.3s ease; -ms-transition: transform 0.3s ease; -o-transition: transform 0.3s ease; }

#nav .container > div .ing.active + ul { display: block; }

#nav .container > div .ing.active:before { -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }

#nav .container > div:last-of-type > a { color: #aeaf19; font-weight: 700; }

#nav .container > div.home { min-width: inherit; border-left: 1px solid #666; margin-left: 0; }

#nav .container > div.home .ing::before { display: none; }

#nav .container ul { display: block; background: rgba(0, 0, 0, 0.8); position: absolute; left: 0; top: 60px; z-index: 2; width: 100%; padding: 10px 0; line-height: 34px; letter-spacing: -0.03em; display: none; }

#nav .container ul li { padding-left: 0; padding-right: 0; width: auto; max-width: none; }

#nav .container ul a { font-size: 16px; text-decoration: none; display: block; padding: 12px 20px; line-height: 1; }

@media (max-width: 991.98px) { #nav { margin-top: -40px; margin-bottom: 25px; }
  #nav .container { height: 40px; padding: 0; }
  #nav .container > div { min-width: 50%; max-width: 100%; flex: 0 1 100%; }
  #nav .container > div .ing { padding: 0 15px; font-size: 14px; }
  #nav .container > div .ing.active + ul { box-shadow: 2px 2px 300px rgba(0, 0, 0, 0.6); }
  #nav .container > div.home, #nav .container > div.dep1 { display: none; }
  #nav .container ul { top: 40px; }
  #nav .container ul a { font-size: 14px; padding: 10px 15px; }
  #nav.util { display: none; } }

.center { width: 842px; margin: 0 auto; }

@media (max-width: 991.98px) { .center { width: auto; } }

@-webkit-keyframes pulsate-fwd { 0% { -webkit-transform: scale(1);
    transform: scale(1); }
  50% { -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  100% { -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulsate-fwd { 0% { -webkit-transform: scale(1);
    transform: scale(1); }
  50% { -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% { -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes roll-in-top { 0% { -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0; }
  100% { -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1; } }

@keyframes roll-in-top { 0% { -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0; }
  100% { -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1; } }

@-webkit-keyframes slide-in-bl { 0% { -webkit-transform: translateY(1000px) translateX(-1000px);
    transform: translateY(1000px) translateX(-1000px);
    opacity: 0; }
  100% { -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1; } }

@-webkit-keyframes roll-in-left { 0% { -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0; }
  100% { -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

@keyframes roll-in-left { 0% { -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0; }
  100% { -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

.paint { position: relative; z-index: 0; }

.paint::before { content: ''; display: block; width: 100%; height: 14px; position: absolute; left: 0; bottom: -4px; background-color: rgba(94, 107, 220, 0.25); z-index: -1; }

.history .history-heading { width: 325px; }

.history dl { display: flex; line-height: 1.3; }

.history dt { flex: 0 0 auto; font-family: 'Play'; font-size: 38px; width: 160px; padding-left: 25px; transform: translateY(-10px); }

.history dt span { position: relative; z-index: 0; }

.history dt span::before { content: ''; display: block; width: 0; height: 16px; position: absolute; left: 0; top: 50%; background-color: rgba(174, 175, 25, 0.25); z-index: -1; transition: width .25s ease-in-out; }

.history dd { flex: 1 1 100%; position: relative; }

.history dd::before { content: ''; width: 1px; height: 100%; background-color: #333; position: absolute; left: -160px; top: 0; }

.history li { display: flex; }

.history li em { width: 60px; flex: 0 0 60px; font-family: 'Play'; font-size: 20px; font-weight: 400; transform: translateY(-3px); }

.history li p { position: relative; z-index: 0; }

.history li p::before { content: ''; display: block; width: 0; height: 14px; position: absolute; left: 0; top: 40%; background-color: rgba(174, 175, 25, 0.25); z-index: -1; transition: width .25s ease-in-out; }

.history li:hover em { font-weight: 700; }

.history li:hover p::before { width: 100%; }

.history li + li { margin-top: 20px; }

.history dl + dl { margin-top: 90px; }

.history dl:hover dt span::before { width: 100%; }

@media (max-width: 991.98px) { .history .history-heading { width: auto; margin-bottom: 2rem; }
  .history .history-heading img { width: 100px; }
  .history dl + dl { margin-top: 3rem; }
  .history dt { width: 75px; padding-left: 0; font-size: 24px; transform: translateY(-7px); }
  .history dd::before { display: none; }
  .history li em { width: 35px; flex: 0 0 35px; font-size: 17px; transform: translateY(-2px); }
  .history li p { line-height: 1.4; word-break: keep-all; } }

.step ol { display: flex; }

.step li { font-size: 14px; color: #aeaf19; }

.step li + li::before { content: '>'; margin: 0 .5rem; color: #aeaf19; }

.step li.active ~ * { color: #333; }

.step li.active ~ *::before { color: #888; }

@media (max-width: 991.98px) { .step li { font-size: 12px; }
  .step li + li::before { margin: 0 .25rem; } }

.agree { padding-top: 2.5rem; border-bottom: 1px solid #333; padding-bottom: 2.5rem; }

.agree-item h3 { font-weight: 700; font-size: 1rem; margin-bottom: 5px; }

.agree-item textarea { font-size: 13px; }

@media (max-width: 991.98px) { .agree { padding: 1.5rem 0 .5rem; }
  .agree-item { margin-bottom: 1rem; } }

.login { padding: 50px 65px 95px; width: 590px; margin: 0 auto; border-radius: 20px; border: 1px solid #aaa; }

.login h2 { text-align: center; font-weight: 900; font-size: 30px; margin-bottom: 55px; }

.login .input-area .form-control + .form-control { margin-top: -1px; }

.login .input-area .form-control:first-of-type { border-radius: .3rem .3rem 0 0; }

.login .input-area .form-control:last-of-type { border-radius: 0 0 .3rem .3rem; }

@media (max-width: 991.98px) { .login { width: auto; padding: 0 1rem; border: 0; }
  .login h2 { font-size: 24px; margin-bottom: 2rem; } }

.forgot { width: 590px; margin: 0 auto; }

.forgot .inner { padding: 55px 44px 65px; border-bottom: 1px solid #333; border-top: 1px solid #333; }

.forgot h2 { font-weight: 900; font-size: 30px; text-align: center; padding-bottom: 30px; }

@media (max-width: 991.98px) { .forgot { width: auto; }
  .forgot .inner { padding: 0; border: 0; }
  .forgot h2 { font-size: 24px; margin-bottom: 2rem; padding-bottom: 0; }
  .forgot .btn-darkgray { font-size: 13px; padding-left: 5px; padding-right: 5px; letter-spacing: -0.06em; } }

.accordion-list { margin-bottom: 1rem; }

.accordion-list ul { border-top: 1px solid #333; }

.accordion-list li { border-bottom: 1px solid #dee2e6; transition: background-color .2s .1s; }

.accordion-list .q > a { display: block; position: relative; padding: 1.5rem 4rem 1.5rem 1rem; transition: background-color .15s; text-decoration: none; }

.accordion-list .q > a::before { content: ''; background: url("../images/icon-arrow-down.svg") no-repeat 50% 50%; display: block; width: 24px; height: 24px; position: absolute; right: 1rem; top: 50%; margin-top: -12px; transition: transform .2s .1s; }

.accordion-list .q > a:hover { background-color: #f5f5f5; }

.accordion-list .a { display: none; }

.accordion-list .a .text { padding: 1.5rem 1rem; }

.accordion-list .active { background-color: #f5f5f5; }

.accordion-list .active .q > a { font-weight: 700; }

.accordion-list .active .q > a::before { transform: rotate(180deg); }

.accordion-list .active .a { border-top: 1px dotted #dee2e6; }

@media (max-width: 991.98px) { .accordion-list .q > a { padding: 1rem 2rem 1rem .75rem; word-break: keep-all; }
  .accordion-list .q > a::before { right: .25rem; }
  .accordion-list .a .text { padding: 1rem .75rem; } }

.form { border-top: 1px solid #333; border-bottom: 1px solid #333; padding: 2.5rem 0; }

.form .inner { width: 550px; }

@media (max-width: 991.98px) { .form .inner { width: auto; } }

.welcome { border-top: 1px solid #333; border-bottom: 1px solid #333; min-height: 600px; }

.welcome strong { text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1); font-size: 37px; font-weight: 700; letter-spacing: -0.93px; margin-top: 110px; }

.welcome p { line-height: 1.55; font-size: 22px; letter-spacing: -0.55px; margin-top: 30px; word-break: keep-all; }

@media (max-width: 991.98px) { .welcome { min-height: auto; padding: 3.5rem 0; }
  .welcome .text img { width: 300px; }
  .welcome strong { font-size: 20px; margin-top: 2rem; }
  .welcome p { font-size: 14px; margin-top: 2rem; text-align: center; } }

.mypage { background: #fcce4b url("../images/bg-mypage-yellow.png") repeat-x 50% 50%; margin-top: -45px; }

.mypage .container { position: relative; min-height: 600px; background: url("../images/bg-mypage.png") no-repeat 345px 53px; }

.mypage .container::before { content: ''; display: block; background: url("../images/bg-mypage-pencil.png") no-repeat 0 0; width: 274px; height: 74px; position: absolute; left: 844px; top: 55px; -webkit-animation: roll-in-top 0.8s ease-out both .4s; animation: roll-in-top 0.8s ease-out both .4s; }

.mypage .container::after { content: ''; display: block; background: url("../images/bg-mypage-pencil2.png") no-repeat 0 0; width: 382px; height: 301px; position: absolute; left: 92px; top: 385px; -webkit-animation: slide-in-bl 0.7s ease-out both; animation: slide-in-bl 0.7s ease-out both; }

.mypage .container .point { content: ''; display: block; background: url("../images/bg-mypage-point.png") no-repeat 0 0; width: 53px; height: 64px; position: absolute; left: 290px; top: 128px; -webkit-animation: pulsate-fwd 0.6s ease-in-out infinite both; animation: pulsate-fwd 0.6s ease-in-out infinite both; }

.mypage .side { background-color: #fff; width: 216px; height: 100%; position: absolute; left: 0; top: 0; z-index: 1; padding: 2rem; }

.mypage .user { text-align: center; }

.mypage .user .profile { display: flex; align-items: center; justify-content: center; width: 144px; height: 144px; border-radius: 50%; overflow: hidden; background: url("../images/profile.png") no-repeat 50% 50%; margin: 0 auto; }

.mypage .user .profile.has-img { background: none; border-radius: 0; }

.mypage .user .profile img { width: 144px; height: 144px; object-fit: contain; }

.mypage .user .name { font-size: 18px; margin-bottom: 1rem; margin-top: .75rem; }

.mypage .info { font-size: 16px; border-top: 1px solid #333; padding-top: 1rem; }

.mypage .info dt { clear: left; float: left; font-weight: 400; }

.mypage .info dd { text-align: right; margin-bottom: 1.25rem; font-weight: 700; }

.mypage .btns { margin-top: 2rem; }

.mypage-test .title-area { background-color: #333; margin-bottom: 3rem; }

.mypage-test .title-area h2 { color: #fff; font-size: 28px; font-weight: 900; line-height: 50px; padding-left: 280px; }

.mypage-test p { font-size: 18px; line-height: 31px; text-align: center; }

.choice label { cursor: pointer; margin: 0 25px 0 0; display: inline-flex; align-items: center; font-family: arial; }

.choice label input { position: absolute; opacity: 0; visibility: hidden; height: 0; width: 0; }

.choice label i { display: inline-block; vertical-align: middle; width: 18px; height: 18px; line-height: 17px; text-align: center; border-radius: 50%; border: 1px solid #ccc; color: #555; font-size: 11px; font-family: arial; }

.choice label span { margin-left: .5rem; }

.choice label input:checked + i { border-color: #333; background-color: #333; color: #fff; font-weight: 500; }

.questions > li { display: flex; margin-bottom: 1.5rem; }

.questions > li .num { flex: 0 0 30px; font-weight: 700; padding: 1px; }

.questions > li .question { line-height: 1.6; white-space: pre-wrap; }

.questions > li .choice { margin-top: .5rem; }

.test-header { color: #fff; padding: 1.25rem 2rem; background: #aeaf19; position: relative; }

.test-header h1 { font-size: 32px; font-weight: 900; margin-bottom: 0; }

.test-header span { font-size: 22px; font-weight: 700; }

.test-header .btn { position: absolute; right: 2rem; top: 50%; transform: translateY(-50%); }

.test-body { padding: 2rem; }

.test-result { padding: 2rem 0; display: flex; }

.test-result .title { font-size: 22px; font-weight: 900; margin-bottom: .75rem; }

.test-result .page { flex: 1 1 100%; padding: 0 4.5rem; }

@media print { .test-result { display: block; }
  .test-result .page + .page { margin-top: 2.5rem; } }

.test-summary { border-radius: 20px; border: 5px solid #aeaf19; text-align: center; position: relative; padding: 2rem; }

.test-summary h2 { position: absolute; left: 50%; top: -24px; transform: translateX(-50%); color: #aeaf19; font-weight: 900; font-size: 36px; }

.test-summary h2 span { background-color: #fff; padding: 0 1rem; }

.test-summary p { font-size: 16px; }

.test-summary p b { font-size: 18px; }

.test-summary ul { display: flex; justify-content: center; align-items: center; margin-top: 2rem; }

.test-summary ul li { padding: 0 .5rem; }

.test-summary ul .item { font-size: 24px; font-weight: 900; height: 75px; }

.test-summary ul .item span { display: block; font-size: 16px; font-weight: 400; }

.test-summary ul .circle { border-radius: 50%; border: 5px solid #aeaf19; width: 180px; height: 180px; display: flex; align-items: center; justify-content: center; }

.test-summary ul .circle strong { font-size: 34px; font-weight: 900; }

.text-sky { color: #a0cee4 !important; }

.text-peach { color: #fbd185 !important; }

.chart-group .chart-area { height: 360px; }

.chart-group .chart-name { font-size: 22px; font-weight: 900; text-align: center; margin-top: .5rem; }

.chart-group + .chart-group { margin-top: 2rem; }

@keyframes mouse-scroll { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: .5; } }

@keyframes mouse-wheel { 0% { opacity: 1;
    transform: translateY(0); }
  100% { opacity: 0;
    transform: translateY(18px); } }

.scroll-animation { position: fixed; bottom: 40px; left: 50%; }

.scroll-animation .mouse { height: 36px; width: 24px; border-radius: 30px; border: 2px solid white; margin-bottom: 3px; }

.scroll-animation .mouse .wheel { animation: mouse-wheel 1.5s ease infinite; height: 6px; width: 3px; background: white; margin: 3px auto; border-radius: 3px; }

.scroll-animation .arrows .first { animation-delay: .1s; }

.scroll-animation .arrows .second { animation-delay: .2s; }

.scroll-animation .arrows .third { animation-delay: .3s; }

.scroll-animation .arrows span { width: 9px; height: 9px; border-right: 2px solid white; border-bottom: 2px solid white; transform: rotate(45deg); display: block; margin: 0 auto; animation: mouse-scroll 2s infinite; }

@media (max-width: 991.98px) { .scroll-animation { display: none !important; } }

body.body-main #footer { position: static; }

#fp-nav ul li, .fp-slidesNav ul li { margin: 15px; }

#fp-nav ul li a span, .fp-slidesNav ul li a span { width: 6px; height: 6px; margin: -3px 0 0 -3px; }

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span { width: 14px; height: 14px; margin: -7px 0 0 -7px; }

.fp-tableCell { background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 50%); background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 50%); background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 50%); }

#main .section { background-repeat: no-repeat; background-position: center; background-size: cover; }

#main #section1 { background-image: url("../images/main-visual1.jpg"); }

#main #section2 { background-image: url("../images/main-visual2.jpg"); }

#main #section3 { background-image: url("../images/main-visual3.jpg"); }

#main #section4 { background-image: url("../images/main-visual4.jpg"); }

#main #section5 { background-image: url("../images/main-visual5.jpg"); }

#main #section6 { background-image: url("../images/main-visual6.jpg"); }

body.body-main #header { background: transparent; transition: transform .4s .1s; }

body.body-main #header .logo a { background-image: url("../images/logo-white.png"); }

body.body-main #header::after { display: none !important; }

body.body-main .h-menu ul li + li::before { background: #fff; }

body.body-main .h-menu ul a { color: #fff; }

body.body-main .h-menu ul .icon-bell { background-image: url("../images/icon-bell-white.png"); }

body.body-main .h-search .input-wrap { border: 1px solid #fff; }

body.body-main .h-search .input-wrap input { background: transparent; color: #fff; }

body.body-main .h-search .input-wrap input::placeholder { color: #fff; }

body.body-main .h-search .input-wrap .btn-search { background: #fff; }

body.body-main .h-search .input-wrap .icon-search { background-image: url("../images/icon-search-black.svg"); }

body.body-main .gnb > ul { border-color: #fff; }

body.body-main .gnb > ul > li { border-color: #fff; }

body.body-main .gnb > ul > li > a { color: #fff; }

body.body-main .gnb .dep2 > li > a { color: #fff; }

body.body-main #footer .footer-menu { display: none; }

html.is-last-section #header { transform: translateY(-200px); }

@media (max-width: 991.98px) { body.body-main #header .mobile-menu .icon-search { background-image: url("../images/icon-search-white.svg"); }
  body.body-main #header .btn-hamburger, body.body-main #header .btn-hamburger:before, body.body-main #header .btn-hamburger:after { background-color: #fff; }
  html.is-scrolled body.body-main #header { background: #fff; }
  html.is-scrolled body.body-main #header .logo a { background-image: url("../images/logo.png"); }
  html.is-scrolled body.body-main #header .mobile-menu .icon-search { background-image: url("../images/icon-search-black.svg"); }
  html.is-scrolled body.body-main #header .btn-hamburger, html.is-scrolled body.body-main #header .btn-hamburger:before, html.is-scrolled body.body-main #header .btn-hamburger:after { background-color: #000; }
  html.open-mobile-menu body.body-main #header .btn-hamburger, html.open-mobile-menu body.body-main #header .btn-hamburger:before, html.open-mobile-menu body.body-main #header .btn-hamburger:after { background-color: #fff; } }

.main-title { font-size: 30px; font-weight: 500; padding-bottom: 10px; color: #fff; position: relative; margin-bottom: 50px; }

.main-title::before { content: ''; display: block; width: 40px; height: 4px; background: #fff; position: absolute; left: 0; bottom: 0; }

.main-text { font-size: 60px; color: #fff; line-height: 1.4; font-weight: 300; }

.main-text strong { font-weight: 500; }

.main-text p { font-size: 24px; font-weight: 400; margin-top: 16px; }

.main-text p br { display: none; }

.main-text { margin: 30px 0; font-size: 50px; }

@media (max-width: 991.98px) { .main-title { font-size: 20px; margin-bottom: 25px; }
  .main-title::before { width: 30px; height: 2px; }
  .main-text { font-size: 20px; line-height: 1.6; }
  .main-text strong br { display: none; }
  .main-text p { font-size: 15px; } }

.curriculum .swiper-wrapper { margin-left: -10px; margin-right: -10px; flex-wrap: wrap; box-sizing: border-box; width: auto; }

.curriculum .swiper-slide { padding-left: 10px; padding-right: 10px; max-width: 33.33333%; flex: 1 1 33.33333%; box-sizing: border-box; margin-bottom: 20px; }

@media (max-width: 991.98px) { .curriculum .swiper-wrapper { margin-left: -5px; margin-right: -5px; flex-wrap: wrap; box-sizing: border-box; width: auto; }
  .curriculum .swiper-slide { padding-left: 5px; padding-right: 5px; max-width: 50%; flex: 1 1 50%; box-sizing: border-box; margin-bottom: 10px; }
  .curriculum .swiper-slide img { width: 100%; }
  /* .curriculum{ margin: 0 -15px; .swiper-wrapper{ margin-left: 0;margin-right: 0;box-sizing: content-box;flex-wrap: nowrap;width: 100%; } .swiper-slide { max-width: none;padding-left: 0;padding-right: 0;box-sizing: content-box;margin-bottom: 0;flex-shrink: 0;width: 300px;flex: 0 0 auto; } } */ }

.merit .swiper-wrapper { margin-left: -10px; margin-right: -10px; flex-wrap: wrap; box-sizing: border-box; width: auto; }

.merit .swiper-slide { padding-left: 10px; padding-right: 10px; max-width: 33.33333%; flex: 1 1 33.33333%; box-sizing: border-box; margin-bottom: 20px; }

.merit .item { color: #fff; display: block; }

.merit .item .img img { width: 100%; max-height: 100%; }

.merit .item .info { background-color: rgba(0, 0, 0, 0.4); height: 210px; padding: 20px; transition: all .25s; }

.merit .item .info strong { display: block; font-size: 20px; font-weight: 500; margin-bottom: 20px; }

.merit .item .info p { font-weight: 300; font-size: 17px; line-height: 1.6; word-break: keep-all; }

@media (max-width: 991.98px) { .merit { margin: 0 -15px; }
  .merit .swiper-wrapper { margin-left: 0; margin-right: 0; box-sizing: content-box; flex-wrap: nowrap; width: 100%; }
  .merit .swiper-slide { max-width: none; padding-left: 0; padding-right: 0; box-sizing: content-box; margin-bottom: 0; flex-shrink: 0; width: 300px; flex: 0 0 auto; }
  .merit .item .info { height: 170px; }
  .merit .item .info strong { font-size: 18px; margin-bottom: 15px; }
  .merit .item .info p { font-size: 14px; } }

.video-frame { width: 480px; padding-bottom: 56.26%; height: 0; position: relative; }

.video-frame iframe { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

@media (max-width: 991.98px) { .video-frame { width: 100%; } }

.ontact { display: flex; flex-wrap: wrap; margin: -13px; width: 480px; }

.ontact .item { padding: 13px; flex: 0 1 50%; }

.ontact .img img { width: 100%; height: auto; }

.ontact p { color: #fff; text-align: center; margin-top: 10px; }

.ontact p span { font-weight: 500; }

@media (max-width: 991.98px) { .ontact { width: auto; margin: 0 -10px -10px; }
  .ontact .item { flex: 1 1 50%; padding: 10px; }
  .ontact p { margin-top: 7px; letter-spacing: -0.05em; } }

.news-area { background: #f5f5f5; padding: 60px 0; }

.news-area .title { font-size: 24px; font-weight: 500; margin-bottom: 16px; }

.news-area .news { height: 300px; border-radius: 16px; border: solid 1px #cccccc; background-color: #ffffff; overflow: hidden; }

.news-area .news ul { padding: 30px; }

.news-area .news ul li { display: flex; }

.news-area .news ul li + li { margin-top: 11px; }

.news-area .news ul strong { flex: 0 0 auto; margin-right: 10px; font-weight: 500; }

.news-area .news ul a { flex: 1 1 auto; max-width: 100%; margin-right: 50px; font-weight: 300; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.news-area .news ul span { flex: 0 0 auto; color: #666; font-weight: 300; }

.news-area .location { height: 300px; border-radius: 16px; border: solid 1px #cccccc; background-color: #ffffff; overflow: hidden; }

@media (max-width: 991.98px) { .news-area { padding: 0 0 25px; }
  .news-area .title { font-size: 17px; margin-bottom: 10px; margin-top: 25px; }
  .news-area .news { height: auto; }
  .news-area .news ul { padding: 20px; }
  .news-area .news ul li + li { margin-top: 8px; }
  .news-area .location { height: 230px; } }
/*# sourceMappingURL=style.css.map */