@charset "UTF-8";
/* 컨텐츠 css */
[class^=icon-] { display: inline-block; background-size: contain; background-repeat: no-repeat; background-position: 0 0; font-style: normal; font-size: 0; line-height: 1; }

.icon-select-right { background-image: url("../images/icon-select-right.svg"); width: 18px; height: 18px; vertical-align: middle; }

.icon-select-left { background-image: url("../images/icon-select-left.svg"); width: 18px; height: 18px; vertical-align: middle; }

.font-size-16px { font-size: 16px; }

.tui-datepicker-input { height: 35px; }

.tui-datepicker-input.tui-has-focus { border-color: #ddd; }

.tui-datepicker-input > input { font-size: 14px; padding-top: 5px; padding-left: .75rem; padding-right: .75rem; }

.tui-datepicker-input .tui-ico-date + div { position: relative; z-index: 99; }

.tui-grid-table input[type=checkbox], .tui-grid-table input[type=radio] { vertical-align: middle; }

.form-radio { margin-bottom: 0; }

.form-radio input[type=radio] { vertical-align: middle; }

.form-radio input[type=radio] + span { vertical-align: middle; margin-left: 5px; }

.form-checkbox { margin-bottom: 0; }

.form-checkbox input[type=checkbox] { vertical-align: middle; }

.form-checkbox input[type=checkbox] + span { vertical-align: middle; margin-left: 5px; }

.table-fixed { table-layout: fixed; }

.table-title { font-size: 18px; font-weight: 700; }

.tui-datepicker-input-custom { position: relative; width: 130px; }

.tui-datepicker-input-custom .tui-ico-date { position: absolute; right: .75rem; top: 50%; transform: translateY(-50%); }

.tui-datepicker { z-index: 99; }

.tui-pagination .tui-is-selected, .tui-pagination strong { background: #4ecdc4; border-color: #4ecdc4; }

.tui-pagination .tui-is-selected:hover { background-color: #4ecdc4; }

.tui-pagination .tui-first-child.tui-is-selected { border-left: 1px solid #4ecdc4; }

.tui-pagination .tui-last-child.tui-is-selected { border-right: 1px solid #4ecdc4; }

.modal-title { font-size: 20px; }

.modal-header.bg-success .modal-title { color: #fff; }

.modal-header.bg-success .close { color: #fff; opacity: 1; }

body { min-width: 1200px; }

#header-block { background-color: #22242a; }

#container-block { min-height: calc(100vh - 60px); position: relative; padding-left: 200px; }

#header { height: 60px; color: #fff; }

#header .container-fluid, #header .container-fluid > .row { height: 100%; }

#header .name { font-weight: 700; margin-right: 1rem; }

#header h1 { width: 180px; text-align: center; font-weight: 900; font-size: 18px; margin: 0; }

#header h1 a { text-decoration: none; }

#header h1 img { width: 110px; margin-right: .5rem; }

#side { width: 200px; background: #2f323a; min-height: 100%; position: absolute; left: 0; top: 0; color: #fff; }

#content { padding: 1rem 0; }

#gnb { font-weight: 700; }

#gnb a { text-decoration: none; transition: all .15s linear; line-height: 1.3; }

#gnb .dep1 > li { margin-bottom: 1px; }

#gnb .dep1 > li > a { display: block; padding: 1rem; }

#gnb .dep1 > li > a:hover { background-color: #497a77; }

#gnb .dep1 > li i { width: 23px; font-size: 13px; }

#gnb .dep1 > li.has-treeview > a { position: relative; }

#gnb .dep1 > li.has-treeview > a::before { content: "\f105"; font-family: "Font Awesome 5 Free"; position: absolute; right: 15px; top: 50%; font-size: 14px; margin-top: -8px; transition: transform .1s; }

#gnb .dep1 > li.open > a { color: #fff; background-color: #497a77; }

#gnb .dep1 > li.open > a::before { transform: rotate(90deg); }

#gnb .dep1 > li.open .dep2 { display: block; background-color: #5a6361; }

#gnb .dep1 > li.active > a { color: #fff; background-color: #4ecdc4; }

#gnb .dep2 { padding: .25rem 0; display: none; }

#gnb .dep2 > li > a { display: block; padding: .5rem 1rem .5rem 2.5rem; font-size: 13px; }

#gnb .dep2 > li.active > a { color: #77d2d1; font-weight: 700; }

.top-area { display: flex; justify-content: space-between; align-items: flex-end; }

.top-area .title { margin-bottom: 0; font-weight: 700; }

.login-logo, .register-logo { font-size: 2.1rem; font-weight: 300; padding: 1rem; text-align: center; background: #4ecdc4; }

.login-logo a, .register-logo a { color: #495057; }

.login-page, .register-page { align-items: center; background: #c5dcdd; display: flex; height: 100vh; justify-content: center; background: url("../images/bg-login.jpg") no-repeat 50% 50%; background-size: cover; }

.login-page::before, .register-page::before { content: ''; position: fixed; left: 0; top: 0; bottom: 0; right: 0; background-color: rgba(0, 0, 0, 0.5); }

.login-box, .register-box { width: 500px; border-radius: 20px; overflow: hidden; position: relative; }

.login-box .card, .register-box .card { border: 0; }

.login-card-body, .register-card-body { background: #fff; border: 0; color: #666; padding: 50px; }

.progress-list .row-20 { margin: -10px; }

.progress-list .row-20 [class^=col] { padding: 10px; }

.progress-list .item { overflow: hidden; }

.progress-list .item.disabled .item-header { opacity: .5; }

.progress-list .item.disabled .item-body { border-color: #dbdbdb; }

.progress-list .item-header { background-color: #4ecdc4; padding: .5rem 0; text-align: center; border-radius: 5px 5px 0 0; position: relative; }

.progress-list .item-header::after { content: ''; width: 0; height: 0; border-style: solid; border-width: 8px 8px 0 8px; border-color: #4ecdc4 transparent transparent transparent; position: absolute; left: 50%; bottom: -7px; transform: translateX(-50%); }

.progress-list .item-body { border: 1px solid #4ecdc4; border-top: 0; border-radius: 0 0 5px 5px; padding-top: 10px; background-color: #f9f8f8; }

.progress-list .group { padding: 20px 15px; }

.progress-list .group + .group { border-top: 1px dashed #dbdbdb; }

.progress-list .num { font-size: 16px; font-family: 'Play'; color: #fff; font-weight: 700; }

.progress-list .text { font-size: 14px; text-align: center; color: #444; margin-bottom: 20px; }

.progress-list .btn { font-size: 13px; }

.address-book .custom-select { border-radius: 0; }

.address-book .btn-outline-success { border-radius: 0; position: relative; z-index: 1; }

.address-book .btn-outline-success:hover .icon-select-left { background-image: url("../images/icon-select-left-active.svg"); }

.address-book .btn-outline-success:hover .icon-select-right { background-image: url("../images/icon-select-right-active.svg"); }

.address-book .btn + .select-list { margin-top: -1px; }

.address-book .select-list + .btn { margin-top: -1px; }

.address-book .select-list { border: 1px solid #d4d4d4; height: 300px; overflow-x: hidden; }

.address-book .select-list a { display: block; padding: .5rem 1rem; text-decoration: none; }

.address-book .select-list a:hover, .address-book .select-list a:focus { background: #eee; }
/*# sourceMappingURL=style.css.map */