.modal-body {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 560px;
  }
}

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    max-width: 860px;
  }
}


.modal-body-alert {
  padding: 1.5rem;

  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .icon-error {
    width: 60px;
    height: 60px;
    margin-right: 40px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60'%3E%3Cpath data-name='Icon metro-notification' d='M31.714 6.91a24.375 24.375 0 0 0-17.236 41.611A24.375 24.375 0 0 0 48.95 14.05a24.215 24.215 0 0 0-17.236-7.14zm0-5.625a30 30 0 1 1-30 30 30 30 0 0 1 30-30zm-3.75 41.25h7.5v7.5h-7.5zm0-30h7.5v22.5h-7.5z' transform='translate(-1.714 -1.285)' style='fill:%23f19410'/%3E%3C/svg%3E%0A");
  }
  .text {
    font-weight: bold;
    font-size: 20px;
  }
  .text-small {
    padding-left: 100px;
    font-size: 14px;
  }
}

.modal-signup-content {
  .modal-header {
    border: 0;
  }
  .signup-title {
    text-align: center;
    font-size: 30px;
    color: #232750;
    margin-bottom: 30px;
  }
}

.modal-signup-rules-all {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bab7b7;
}

.modal-signup-result-title {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 40px;
  font-size: 50px;
  color: #3258b2;
  font-family: Jalnan, sans-serif;
  font-weight: bold;
}

.modal-find-id-pw-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #bab7b7;

  .item {
    width: 48%;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    background-color: #bab7b7;
    border: 0;
    outline: 0;

    &.active {
      background-color: #232750;
    }
  }
}

.modal-login-content {
  width: 550px;
  background-color: #232750;

  .modal-header {
    border: 0;

    .btn-close {
      background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    }
  }
  .modal-body {
    padding: 0 90px 90px 90px;
  }
  .login-title {
    padding: 34px 0 64px 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
  }
  .login-form-control {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    background: #ebe9e9;
    border: 1px solid #707070;
    outline: 0;

    &:focus {
      background: #fff;
    }
  }
  .login-form-checkbox {
    position: absolute;
    visibility: hidden;

    &+label {
      display: inline-flex;
      align-items: center;
      color: #fff;
      cursor: pointer;

      &::before {
        content: "";
        width: 18px;
        height: 18px;
        margin-right: 6px;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23232750' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
        border-radius: 50%;
      }
    }
    &:checked+label {
      &::before {
        background-color: $primary;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
      }
    }
  }
  .login-footer {
    display: flex;
    justify-content: space-between;

    .item {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.modal-gym-search-form {
  padding: 0 20px 20px 20px;

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.modal-gym-search-result {
  padding: 10px 20px 0 20px;
  border-top: 1px solid #bab7b7;
}

.modal-body-payment-cancel {
  margin-bottom: 20px;
  display: block;
  flex-direction: column;
  border: 1px solid #dddbdb;
  max-height: 296px;
  overflow: auto;

  .item {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #646464;
  }
}

.modal-student-detail-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d8d8d8;

  .item {
    display: flex;
    align-items: center;
    margin-right: 16px;
    font-weight: bold;
    color: #333;

    &::before {
      content: "";
      width: 6px;
      height: 6px;
      margin-right: 3px;
      background-color: #f19410;
    }
  }
}

.modal-student-detail-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d8d8d8;
  color: #333;

  .title {
    width: 100px;
    font-weight: bold;
  }
}

.modal-student-detail-box {
  padding: 10px;
  background-color: #f4f4f4;
  color: #333;
}

.modal-student-detail-title {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #333;

  &::before {
    content: "";
    width: 4px;
    height: 14px;
    margin-right: 5px;
    background-color: #3258b2;
  }
  span {
    font-weight: normal;
  }
}

.modal-refund-std-table {
  th,
  td {
    font-size: 14px;
  }
}