.ly-container-title {
  margin-bottom: 20px;
  padding-top: 50px;

  .container {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #e1e1e1;
  }

  h1 {
    font-size: 26px;
    margin: 0;
    color: #333;
    font-weight: bold;
  }
}

.ly-container {
  padding-bottom: 50px;

  .container {
    display: flex;
    padding: 0;
  }
}